<hr>
<div class="row page-title">
	<div class="col-md-4">
		<strong>User:</strong>&nbsp; {{ form.instance.author }}
	</div>
	<div class="col-md-8">
		<h5>Evaluation Form Stage 1</h5>
	</div>
</div>
<form method="post" action="{% url 'evaluation:formd1a' %}"
	class="needs-validation form-general-style" id="formd1aId"
	enctype="multipart/form-data" novalidate>
	<input type="hidden" value="{{ request.GET.work_id }}" name="work_id">
	<input type="hidden" value="{{ form.instance.id|default:'0' }}"
		name="id" id="id">
	<div class="row">
		<div class="col-md-4">
			<label for="ImageQuality">Image Quality</label> <select
				class="custom-select" name="imgq" id="ImageQuality">
				<option value="0">None</option>
				<option value="1">Minimal</option>
				<option value="2">Average</option>
				<option value="3">Good</option>
				<option value="4">Excellent</option>
			</select> <input type="hidden" value="{{ form.instance.imgq|default:'0' }}"
				id="imgqid">
			<script type="text/javascript">
			$("#ImageQuality option[value="
					+ $("#imgqid").val() + "]").attr(
			'selected','selected')
			</script>
		</div>
		<div class="col-md-4">
			<label for="AnswersScore">Answers to the questions</label> <select
				class="custom-select" name="answersq" id="AnswersScore">
				<option value="0">None</option>
				<option value="1">Minimal</option>
				<option value="2">Average</option>
				<option value="3">Good</option>
				<option value="4">Excellent</option>
			</select> <input type="hidden"
				value="{{ form.instance.answersq|default:'0' }}" id="answerqid">
			<script type="text/javascript">
			$("#AnswersScore option[value="
					+ $("#answerqid").val() + "]").attr(
			'selected','selected')
			</script>
		</div>
		<div class="col-md-4">
			<label for="OriginQuality">Originiality of the work</label> <select
				class="custom-select" name="originq" id="OriginQuality">
				<option value="0">None</option>
				<option value="1">Minimal</option>
				<option value="2">Average</option>
				<option value="3">Good</option>
				<option value="4">Excellent</option>
			</select> <input type="hidden" value="{{ form.instance.originq|default:'0' }}"
				id="originq">
			<script type="text/javascript">
			$("#OriginQuality option[value="
					+ $("#originq").val() + "]").attr(
			'selected','selected')
			</script>
		</div>
		<br>
		<div class="col-md-12">
			<label for="comment"> Comments</label>
			<textarea class="form-control form-input" id="comment"
				placeholder="Please add any comments, if there are some..."
				name="comment" rows="5">{{ form.instance.comment|default_if_none:'' }}</textarea>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12 text-center">
<!-- 		THE FUNCTION TO SUBMIT A FORM TAKES AN ACTION URL, THE FORM ID AND THE SUBMIT BUTTON ID -->
			<button class="action-button" type="button" id="buttonSubmitD1AForm"
				onclick="submitAForm('{% url 'evaluation:formd1a' %}','formd1aId','buttonSubmitD1AForm')">Submit</button>
		</div>
	</div>
	{% csrf_token %}
</form>
