<div class="row page-title">
	<div class="col-md-12">
		<h5>Evaluation Form, Primary Decision</h5>
	</div>
</div>
<hr>
<form method="post" action="{% url 'evaluation:formd1a' %}"
	class="needs-validation form-general-style" id="formd1aId"
	enctype="multipart/form-data" novalidate>
	<input type="hidden" value="{{ request.GET.work_id }}" name="work_id">
	<input type="hidden" value="{{ form.id|default:'0' }}" name="id"
		id="id">
	<div class="row">
		<div class="col-md-4">
			<label for="ImageQuality{{ form.id }}">Image Quality</label> <select
				class="custom-select" name="imgq" id="ImageQuality{{ form.id }}">
				<option value="">--</option>
				<option value="0">None</option>
				<option value="1">Minimal</option>
				<option value="2">Average</option>
				<option value="3">Good</option>
				<option value="4">Excellent</option>
			</select> <input type="hidden" value="{{ form.imgq|default:'0' }}"
				id="imgqid{{ form.id }}">
		</div>
		<div class="col-md-4">
			<label for="AnswersScore{{ form.id }}">Answers to the
				questions</label> <select class="custom-select" name="answersq"
				id="AnswersScore{{ form.id }}">
				<option value="">--</option>
				<option value="0">None</option>
				<option value="1">Minimal</option>
				<option value="2">Average</option>
				<option value="3">Good</option>
				<option value="4">Excellent</option>
			</select> <input type="hidden" value="{{ form.answersq|default:'0' }}"
				id="answerqid{{ form.id }}">
		</div>
		<div class="col-md-4">
			<label for="OriginQuality{{ form.id }}">Originiality of the
				work</label> <select class="custom-select" name="originq"
				id="OriginQuality{{ form.id }}">
				<option value="">--</option>
				<option value="0">None</option>
				<option value="1">Minimal</option>
				<option value="2">Average</option>
				<option value="3">Good</option>
				<option value="4">Excellent</option>
			</select> <input type="hidden" value="{{ form.originq|default:'0' }}"
				id="originq{{ form.id }}">
		</div>
		<br>
		<div class="col-md-12">
			<label for="comment">Comments</label>
			<textarea class="form-control form-input" id="comment"
				placeholder="Please add any comments, if there are some..."
				name="comment" rows="5">{{ form.comment|default_if_none:'' }}</textarea>
		</div>
	</div>
	<hr>
	<div class="row buttons-holder-div">
		<div class="col-md-6 text-center">
			<!-- 		THE FUNCTION TO SUBMIT A FORM TAKES AN ACTION URL, THE FORM ID AND THE SUBMIT BUTTON ID -->
			<button class="btn btn-block btn-success" type="button"
				id="buttonSubmitD1AForm" onclick="toggleConfirmationBox(submitAnEvaluationForm,'Do you want to submit the evaluation form?','{% url 'evaluation:formd1a' %}','formd1aId','buttonSubmitD1AForm', null)">
				<i class="fa fa-check-circle">&nbsp;&nbsp;&nbsp;</i>Submit
			</button>
		</div>
		<div class="col-md-6 text-center">
			<button class="btn btn-block btn-outline-warning" type="button"
				onclick="closeFullScreenDiv()">
				<i class="fa fa-times-circle">&nbsp;&nbsp;&nbsp;</i>Close
			</button>
		</div>
	</div>
	{% csrf_token %}
</form>

<script type="text/javascript">
$(document).ready(function(){
	$("#OriginQuality{{ form.id }} option[value="
			+ $("#originq{{ form.id }}").val() + "]").attr(
	'selected','selected')
	$("#AnswersScore{{ form.id }} option[value="
					+ $("#answerqid{{ form.id }}").val() + "]").attr(
			'selected','selected')
	$("#ImageQuality{{ form.id }} option[value="
					+ $("#imgqid{{ form.id }}").val() + "]").attr(
			'selected','selected')
})
</script>