<style>
.row.form-section .col-md-2 {
	text-align: center;
}
</style>
<div class="page-title">
	<h2>Evaluation Form Stage 2</h2>
</div>
<hr>
<form method="post" action="{% url 'evaluation:formd2' %}"
	class="needs-validation form-general-style" id="formd2Id"
	enctype="multipart/form-data" novalidate>
<input type="hidden" value="{{ request.GET.work_id }}" name="work_id">
	<input type="hidden" value="{{ form.instance.id|default:'0' }}"
		name="id" id="id">
	<div class="row form-section" id="math">
		{% for x, y in form.fields.math.base_field.choices %} {% if x != '' %}
		{%if forloop.counter < 7%}
		{%if forloop.counter == 0 %}
			<div class="card-header collapsed row" data-toggle="collapse"
				href="#algebra">
				<div class="col-md-11">
					<a class="card-title"><i class="fa fa-gavel"></i>&nbsp;&nbsp;&nbsp;Algebra</a>
				</div>
				<div class="col-md-1"></div>
			</div>
		<div class="collapse card-body" id="algebra">
		{% endif %}
			<div class="form-check">
				<input class="form-check-input" type="checkbox"
					id="inlineCheckbox{{ x }}" value="{{ x }}" name="math" {% if x in form.instance.math %} checked {% endif %}>
				<label class="form-check-label" for="inlineCheckbox{{ x }}">{{ y }}</label></div>
		{% elif forloop.counter < 10 %}
		{%if forloop.counter == 10 %}
		</div>
		<div class="card-header collapsed row" data-toggle="collapse"
			href="#rf">
			<div class="col-md-11">
				<a class="card-title"><i class="fa fa-gavel"></i>&nbsp;&nbsp;&nbsp;Relations & Functions</a>
			</div>
			<div class="col-md-1"></div>
		</div>
		<div class="collapse card-body" id="rf">
		{% endif %}
			<div class="form-check">
				<input class="form-check-input" type="checkbox"
					id="inlineCheckbox{{ x }}" value="{{ x }}" name="math" {% if x in form.instance.math %} checked {% endif %}>
				<label class="form-check-label" for="inlineCheckbox{{ x }}">{{ y }}</label></div>
		{% elif forloop.counter < 19 %}
		{%if forloop.counter == 19 %}
		</div>
		<div class="card-header collapsed row" data-toggle="collapse"
			href="#geometry">
			<div class="col-md-11">
				<a class="card-title"><i class="fa fa-gavel"></i>&nbsp;&nbsp;&nbsp;Geometry</a>
			</div>
			<div class="col-md-1"></div>
		</div>
		<div class="collapse card-body" id="geometry">
		{% endif %}
			<div class="form-check">
				<input class="form-check-input" type="checkbox"
					id="inlineCheckbox{{ x }}" value="{{ x }}" name="math" {% if x in form.instance.math %} checked {% endif %}>
				<label class="form-check-label" for="inlineCheckbox{{ x }}">{{ y }}</label></div>
		{% endif %}
		{% endif %}
		
		 {% endfor %}
		 </div>
		<div class="col-md-12">
	</div>
	</div>
	<div class="row form-section" id="q1"
		data-title="Was the Mathematics correctly applied?">
		<br>
		<div class="col-md-2">
			<label>Excellent</label> <input type="hidden"
				class="form-control form-input"
				value="{{ form.instance.imgq|default_if_none:'' }}" required>
			<input type="radio" class="form-control form-input" name="q1radio"
				value="4">
		</div>
		<div class="col-md-2">
			<label>Good</label> <input type="radio"
				class="form-control form-input" name="q1radio" value="3">
		</div>
		<div class="col-md-2">
			<label>Average</label> <input type="radio"
				class="form-control form-input" name="q1radio" value="2">
		</div>
		<div class="col-md-2">
			<label>Minimal</label> <input type="radio"
				class="form-control form-input" name="q1radio" value="1">
		</div>
		<div class="col-md-2">
			<label>None</label> <input type="radio"
				class="form-control form-input" name="q1radio" value="0">
		</div>
		<div class="col-md-2">
			 <input type="hidden"
				class="form-control form-input" name="q1radioscore" value="">
			<input type="hidden" class="form-control form-input question-value"
				name="q1" value="{{ form.instance.q1 }}">
		</div>
	</div>
	<hr>
	<div class="row form-section" id="q2"
		data-title="How well was the connection between Mathematics and the artwork explained in the paragraph?">
		<br>
		<div class="col-md-2">
			<label>Excellent</label> <input type="hidden"
				class="form-control form-input"
				value="{{ form.instance.imgq|default_if_none:'' }}" required>
			<input type="radio" class="form-control form-input" name="q2radio"
				value="4">
		</div>
		<div class="col-md-2">
			<label>Good</label> <input type="radio"
				class="form-control form-input" name="q2radio" value="3">
		</div>
		<div class="col-md-2">
			<label>Average</label> <input type="radio"
				class="form-control form-input" name="q2radio" value="2">
		</div>
		<div class="col-md-2">
			<label>Minimal</label> <input type="radio"
				class="form-control form-input" name="q2radio" value="1">
		</div>
		<div class="col-md-2">
			<label>None</label> <input type="radio"
				class="form-control form-input" name="q2radio" value="0">
		</div>
		<div class="col-md-2">
			<input type="hidden"
				class="form-control form-input" name="q2radioscore" value="">
			<input type="hidden" class="form-control form-input question-value"
				name="q2" value="{{ form.instance.q2 }}">
		</div>
	</div>
	<hr>
	<div class="row form-section" id="q3"
		data-title="How creative/original/clever is the connection with Mathematics?">
		<div class="col-md-2">
			<label>Excellent</label> <input type="hidden"
				class="form-control form-input"
				value="{{ form.instance.imgq|default_if_none:'' }}" required>
			<input type="radio" class="form-control form-input" name="q3radio"
				value="4">
		</div>
		<div class="col-md-2">
			<label>Good</label> <input type="radio"
				class="form-control form-input" name="q3radio" value="3">
		</div>
		<div class="col-md-2">
			<label>Average</label> <input type="radio"
				class="form-control form-input" name="q3radio" value="2">
		</div>
		<div class="col-md-2">
			<label>Minimal</label> <input type="radio"
				class="form-control form-input" name="q3radio" value="1">
		</div>
		<div class="col-md-2">
			<label>None</label> <input type="radio"
				class="form-control form-input" name="q3radio" value="0">
		</div>
		<div class="col-md-2">
			 <input type="hidden"
				class="form-control form-input" name="q3radioscore"> <input
				type="hidden" class="form-control form-input question-value" name="q3"
				value="{{ form.instance.q3 }}">
		</div>
	</div>
	<hr>
	<div class="row form-section" id="q4"
		data-title="How clear is the Mathematics visually portrayed in the artwork?">
		<div class="col-md-2">
			<label>Excellent</label> <input type="hidden"
				class="form-control form-input"
				value="{{ form.instance.imgq|default_if_none:'' }}" required>
			<input type="radio" class="form-control form-input" name="q4radio"
				value="4">
		</div>
		<div class="col-md-2">
			<label>Good</label> <input type="radio"
				class="form-control form-input" name="q4radio" value="3">
		</div>
		<div class="col-md-2">
			<label>Average</label> <input type="radio"
				class="form-control form-input" name="q4radio" value="2">
		</div>
		<div class="col-md-2">
			<label>Minimal</label> <input type="radio"
				class="form-control form-input" name="q4radio" value="1">
		</div>
		<div class="col-md-2">
			<label>None</label> <input type="radio"
				class="form-control form-input" name="q4radio" value="0">
		</div>
		<div class="col-md-2">
			<input type="hidden"
				class="form-control form-input" name="q4radioscore"> <input
				type="hidden" class="form-control form-input question-value" name="q4"
				value="{{ form.instance.q4 }}">
		</div>
	</div>

	<div class="row">
		<div class="col-md-2">
			Total Score
		</div>
		<div class="col-md-4" id="scorediv">
			{{ form.instance.score|default_if_none:'0' }}
		</div>
		<div class="col-md-6">
		<label>Comment</label>
				<textarea class="
			form-control form-input" id="comment"
			placeholder="Please add any comments, if there are some..."
			name="comment" rows="5">{{ form.instance.comment|default_if_none:'' }}</textarea>
		</div>
	</div>
<hr>
	<div class="row buttons-holder-div">
	<div class="col-md-6 text-center">
		<button class="btn btn-block btn-success" type="button" id="buttonSubmitD2Form"
				onclick="toggleConfirmationBox(submitAnEvaluationForm,'Do you want to submit the evaluation form?','{% url 'evaluation:formd2' %}','formd2Id','buttonSubmitD2Form', null)"><i class="fa fa-save">&nbsp;&nbsp;&nbsp;</i>Submit</button>
	</div>
	<div class="col-md-6 text-center">
		<button class="btn btn-block btn-outline-warning" type="button" 
				onclick="closeFullScreenDiv()"><i class="fa fa-times-circle">&nbsp;&nbsp;&nbsp;</i>Close</button>
	</div>
	</div>
</form>
<script>
	$(document).ready(
			function() {
				$("#formd2Id").find("input[type='radio']").each(function() {
					$("#formd2Id").find("input[name='" + $(this).attr("name") + "score']").val(parseInt($(this).val() * 6.25) + "%")
					$(this).change(function() {
						$("input[name='" + $(this).attr("name") + "score']").val(parseInt($(this).val() * 6.25)+ "%")
						var q = $(this).attr("name").replace('radio','')
						$("input[name='"+q+"']").val($(this).val())
						calculateTotalD2()
					})
			})
			$("#formd2Id").find(".question-value").each(
					function() {
						$("#formd2Id").find("input[type='radio'][name='" + $(this).attr("name") + "radio'][value='"+$(this).val()+"']").prop("checked", true)
					})
			calculateTotalD2()
			})
	function calculateTotalD2() {
		var val = 0
		$("#formd2Id").find(".question-value").each(function(){
			val += parseInt($(this).val() * 6.25)
			$("#formd2Id").find("#scorediv").html(val + "%")
		})
	}
</script>