<!-- <div class="page-title"> -->
<!-- 	<h2>D1A Form for {{ work.title }}</h2> -->
<!-- </div> -->
<form method="post" action="{% url 'evaluation:formd2a' %}"
	class="needs-validation form-general-style"
	enctype="multipart/form-data" novalidate>
	<div class="form-section" data-title="Image Quality">
		<div class="row">
			<div class="col-md-2">
				<lable for="imagequality">Excellent</lable>
				<input type="hidden" class="form-control form-input"
					id="imagequality"
					value="{{ form.instance.imgq|default_if_none:'' }}" required>
				<input type="radio" checked class="form-control form-input"
					name="imgq" value="1">
			</div>
			<div class="col-md-2">
				<lable for="imagequality">Good</lable>
				<input type="radio" class="form-control form-input" name="imgq"
					value="2">
			</div>
			<div class="col-md-2">
				<lable for="imagequality">Average</lable>
				<input type="radio" class="form-control form-input" name="imgq"
					value="3">
			</div>
			<div class="col-md-2">
				<lable for="imagequality">Minimal</lable>
				<input type="radio" class="form-control form-input" name="imgq"
					value="4">
			</div>
			<div class="col-md-2">
				<lable for="imagequality">None</lable>
				<input type="radio" class="form-control form-input" name="imgq"
					value="5">
			</div>
		</div>
	</div>

	<div class="form-section" data-title="Answers Score">
		<div class="row">
			<div class="col-md-2">
				<input type="hidden" class="form-control form-input"
					id="answerscore"
					value="{{ form.instance.answersq|default_if_none:'' }}" required>
				<input type="radio" checked class="form-control form-input"
					name="answersq" value="1">
			</div>
			<div class="col-md-2">
				<input type="radio" class="form-control form-input" name="answersq"
					value="2">
			</div>
			<div class="col-md-2">
				<input type="radio" class="form-control form-input" name="answersq"
					value="3">
			</div>
			<div class="col-md-2">
				<input type="radio" class="form-control form-input" name="answersq"
					value="4">
			</div>
			<div class="col-md-2">
				<input type="radio" class="form-control form-input" name="answersq"
					value="5">
			</div>
		</div>
	</div>

	<div class="form-section" data-title="Origin Quality">
		<div class="row">
			<div class="col-md-2">
				<input type="hidden" class="form-control form-input"
					id="originquality"
					value="{{ form.instance.answersq|default_if_none:'' }}" required>
				<input type="radio" checked class="form-control form-input"
					name="originq" value="1">
			</div>
			<div class="col-md-2">
				<input type="radio" class="form-control form-input" name="originq"
					value="2">
			</div>
			<div class="col-md-2">
				<input type="radio" class="form-control form-input" name="originq"
					value="3">
			</div>
			<div class="col-md-2">
				<input type="radio" class="form-control form-input" name="originq"
					value="4">
			</div>
			<div class="col-md-2">
				<input type="radio" class="form-control form-input" name="originq"
					value="5">
			</div>
		</div>
	</div>

	<div class="form-section" data-title="Comment">
		<div class="row">
			<div class="col-md-12">
				<lable for="comment"> <strong>Comments</strong></lable>
				<textarea class="form-control form-input" id="comment"
					placeholder="Dear judge, please add any comments, if there are some..."
					name="comment" rows="5">{{ form.instance.comment|default_if_none:'' }}</textarea>
			</div>
		</div>

	</div>
	<div class="col-md-12 text-center">
		<button class="action-button" type="button" id="buttonSubmitD1AForm">Submit</button>
	</div>
</form>
