<hr>
<div class="page-title">
	<h4>Evaluation Form Stage 1</h4>
</div>
<form method="post" action="{% url 'evaluation:formd1a' %}"
	class="needs-validation form-general-style"
	enctype="multipart/form-data" novalidate>
	<div class="row">
		<div class="col-md-4">
			<label for="ImageQuality">Image Quality</label> <select
				class="custom-select" name="imgq" id="ImageQuality">
				<option value="0">None</option>
				<option value="1">Minimal</option>
				<option value="2">Average</option>
				<option value="3">Good</option>
				<option value="4">Excellent</option>
			</select>
		</div>
		<div class="col-md-4">
			<label for="AnswersScore">Answers Score</label> <select
				class="custom-select" name="answersq" id="AnswersScore">
				<option value="0">None</option>
				<option value="1">Minimal</option>
				<option value="2">Average</option>
				<option value="3">Good</option>
				<option value="4">Excellent</option>
			</select>
		</div>
		<div class="col-md-4">
			<label for="OriginQuality">Originiality Score</label> <select
				class="custom-select" name="originq" id="OriginQuality">
				<option value="0">None</option>
				<option value="1">Minimal</option>
				<option value="2">Average</option>
				<option value="3">Good</option>
				<option value="4">Excellent</option>
			</select>
		</div>
		<div class="col-md-6">
			<label for="comment"> <strong>Comments</strong></label>
			<textarea class="form-control form-input" id="comment"
				placeholder="Please add any comments, if there are some..."
				name="comment" rows="5">{{ form.instance.comment|default_if_none:'' }}</textarea>
		</div>
		<hr>
		<div class="col-md-12 text-center">
			<button class="action-button" type="button" id="buttonSubmitD1AForm">Submit</button>
		</div>
	</div>
</form>
