<style>
.row.form-section .col-md-2 {
	text-align: center;
}
</style>
<div class="page-title">
	<h2>Evaluation Form Stage 3</h2>
</div>
<hr>
<form method="post" action="{% url 'evaluation:formd3' %}"
	class="needs-validation form-general-style"
	id="formd3Id{{form.instance.author.id}}" enctype="multipart/form-data"
	novalidate>
	<input type="hidden" value="{{ request.GET.work_id }}" name="work_id">
	<input type="hidden" value="{{ form.instance.id|default:'0' }}"
		name="id" id="id">
	<div class="row">
		<div class="col-md-12" style="text-align: left">please rate the following:</div>
	</div>
	<div class="row form-section" id="q1"
		data-title="The explanation given of the mathematics in the answers to the questions">
		<div class="col-md-2">
			<label>Excellent</label> <input type="radio"
				class="form-control form-input" name="q1radio" value="4">
		</div>
		<div class="col-md-2">
			<label>Good</label> <input type="radio"
				class="form-control form-input" name="q1radio" value="3">
		</div>
		<div class="col-md-2">
			<label>Average</label> <input type="radio"
				class="form-control form-input" name="q1radio" value="2">
		</div>
		<div class="col-md-2">
			<label>Minimal</label> <input type="radio"
				class="form-control form-input" name="q1radio" value="1">
		</div>
		<div class="col-md-2">
			<label>None</label> <input type="radio"
				class="form-control form-input" name="q1radio" value="0">
		</div>
		<div class="col-md-2">
			<input type="hidden" class="form-control form-input"
				name="q1radioscore" value=""> <input type="hidden"
				class="form-control form-input question-value" name="q1"
				value="{{ form.instance.q1 }}">
		</div>
	</div>
	<hr>
	<div class="row form-section" id="q2"
		data-title="The creative connection of the artwork with mathematics">
		<div class="col-md-2">
			<label>Excellent</label> <input type="radio"
				class="form-control form-input" name="q2radio" value="4">
		</div>
		<div class="col-md-2">
			<label>Good</label> <input type="radio"
				class="form-control form-input" name="q2radio" value="3">
		</div>
		<div class="col-md-2">
			<label>Average</label> <input type="radio"
				class="form-control form-input" name="q2radio" value="2">
		</div>
		<div class="col-md-2">
			<label>Minimal</label> <input type="radio"
				class="form-control form-input" name="q2radio" value="1">
		</div>
		<div class="col-md-2">
			<label>None</label> <input type="radio"
				class="form-control form-input" name="q2radio" value="0">
		</div>
		<div class="col-md-2">
			<input type="hidden" class="form-control form-input"
				name="q2radioscore" value=""> <input type="hidden"
				class="form-control form-input question-value" name="q2"
				value="{{ form.instance.q2 }}">
		</div>
	</div>
	<hr>
	<div class="row form-section" id="q3"
		data-title="How clearly mathematics was linked to the theme in the artwork?">
		<div class="col-md-2">
			<label>Excellent</label> <input type="radio"
				class="form-control form-input" name="q3radio" value="4">
		</div>
		<div class="col-md-2">
			<label>Good</label> <input type="radio"
				class="form-control form-input" name="q3radio" value="3">
		</div>
		<div class="col-md-2">
			<label>Average</label> <input type="radio"
				class="form-control form-input" name="q3radio" value="2">
		</div>
		<div class="col-md-2">
			<label>Minimal</label> <input type="radio"
				class="form-control form-input" name="q3radio" value="1">
		</div>
		<div class="col-md-2">
			<label>None</label> <input type="radio"
				class="form-control form-input" name="q3radio" value="0">
		</div>
		<div class="col-md-2">
			<input type="hidden" class="form-control form-input"
				name="q3radioscore"> <input type="hidden"
				class="form-control form-input question-value" name="q3"
				value="{{ form.instance.q3 }}">
		</div>
	</div>
	<hr>
	<div class="row form-section" id="q4" data-title="Originality">
		<div class="col-md-2">
			<label>Excellent</label> <input type="hidden"
				class="form-control form-input"
				value="{{ form.instance.imgq|default_if_none:'' }}" required>
			<input type="radio" class="form-control form-input" name="q4radio"
				value="4">
		</div>
		<div class="col-md-2">
			<label>Good</label> <input type="radio"
				class="form-control form-input" name="q4radio" value="3">
		</div>
		<div class="col-md-2">
			<label>Average</label> <input type="radio"
				class="form-control form-input" name="q4radio" value="2">
		</div>
		<div class="col-md-2">
			<label>Minimal</label> <input type="radio"
				class="form-control form-input" name="q4radio" value="1">
		</div>
		<div class="col-md-2">
			<label>None</label> <input type="radio"
				class="form-control form-input" name="q4radio" value="0">
		</div>
		<div class="col-md-2">
			<input type="hidden" class="form-control form-input"
				name="q4radioscore"> <input type="hidden"
				class="form-control form-input question-value" name="q4"
				value="{{ form.instance.q4 }}">
		</div>
	</div>
	<hr>
	<div class="row form-section" id="q5"
		data-title="The quality of use of visual elements (composition, design, technique, symbolism) to convey meaning">
		<div class="col-md-2">
			<label>Excellent</label> <input type="hidden"
				class="form-control form-input"
				value="{{ form.instance.imgq|default_if_none:'' }}" required>
			<input type="radio" class="form-control form-input" name="q5radio"
				value="4">
		</div>
		<div class="col-md-2">
			<label>Good</label> <input type="radio"
				class="form-control form-input" name="q5radio" value="3">
		</div>
		<div class="col-md-2">
			<label>Average</label> <input type="radio"
				class="form-control form-input" name="q5radio" value="2">
		</div>
		<div class="col-md-2">
			<label>Minimal</label> <input type="radio"
				class="form-control form-input" name="q5radio" value="1">
		</div>
		<div class="col-md-2">
			<label>None</label> <input type="radio"
				class="form-control form-input" name="q5radio" value="0">
		</div>
		<div class="col-md-2">
			<input type="hidden" class="form-control form-input"
				name="q5radioscore"> <input type="hidden"
				class="form-control form-input question-value" name="q5"
				value="{{ form.instance.q5 }}">
		</div>
	</div>

	<div class="row">
		<div class="col-md-2">Total Score</div>
		<div class="col-md-4" id="scorediv">
			<!-- 		DEFAULT VALUE -->
			{{ form.instance.score|default_if_none:'0' }}&nbsp;%
		</div>
		<div class="col-md-6">
			<label>Comment</label>
			<textarea class="form-control form-input" id="comment"
				placeholder="Please add any comments, if there are some..."
				name="comment" rows="5">{{ form.instance.comment|default_if_none:'' }}</textarea>
		</div>
	</div>
	<hr>
	<div class="row buttons-holder-div">
		<div class="col-md-6 text-center">
			<button class="btn btn-block btn-success" type="button"
				id="buttonSubmitD3Form"
				onclick="toggleConfirmationBox(submitAnEvaluationForm,'Do you want to submit the evaluation form?','{% url 'evaluation:formd3' %}','formd3Id{{form.instance.author.id}}','buttonSubmitD3Form', null)">
				<i class="fa fa-save">&nbsp;&nbsp;&nbsp;</i>Submit
			</button>
		</div>
		<div class="col-md-6 text-center">
			<button class="btn btn-block btn-outline-warning" type="button"
				onclick="closeFullScreenDiv()">
				<i class="fa fa-times-circle">&nbsp;&nbsp;&nbsp;</i>Close
			</button>
		</div>
	</div>
</form>
<script>
	var weights=[
		{q: "q1", w: 10},
		{q: "q2", w: 30},
		{q: "q3", w: 20},
		{q: "q4", w: 25},
		{q: "q5", w: 15}]
	$(document).ready(
			function() {
				$("#formd3Id{{form.instance.author.id}}").find("input[type='radio']").each(function() {
					var qu = $(this).attr("name").replace('radio','')
					var weight = 0
					for(var i = 0; i < weights.length; i++) {
						if(qu == weights[i].q)
							weight = weights[i].w / 4
					}
					$("#formd3Id{{form.instance.author.id}}").find("input[name='" + $(this).attr("name") + "score']").val(parseInt($(this).val() * weight) + "%")
					$(this).change(function() {
						$("input[name='" + $(this).attr("name") + "score']").val(parseInt($(this).val() * weight)+ "%")
						$("input[name='"+qu+"']").val($(this).val())
						calculateTotalD3()
					})
			})
			$("#formd3Id{{form.instance.author.id}}").find(".question-value").each(
					function() {
						$("#formd3Id{{form.instance.author.id}}").find("input[type='radio'][name='" + $(this).attr("name") + "radio'][value='"+$(this).val()+"']").prop("checked", true)
					})
				calculateTotalD3()
			})
	function calculateTotalD3() {
		var val = 0
		$("#formd3Id{{form.instance.author.id}}").find(".question-value").each(function(){
			var weight = 0
			for(var i = 0; i < weights.length; i++) {
				if($(this).attr("name") == weights[i].q)
					weight = weights[i].w / 4
			}
			val += parseInt($(this).val() * weight)
			$("#formd3Id{{form.instance.author.id}}").find("#scorediv").html(val + "%")
		})
	}
</script>