<hr>

<div class="row">
	<div class="col-md-12">
		<ul class="nav nav-pills nav-fill">
			<li class="nav-item">
				<button class="btn btn-block btn-outline-dark btn-sm"
					onclick="$('#admin-console-content').load('/work_lists?status=-2')">
					<i class="fa fa-palette"></i>&nbsp;&nbsp;&nbsp;Artwork Management
				</button>
			</li> {% if user.is_authenticated and user.user_type == 6%}
			<li class="nav-item">
				<button class="btn btn-block btn-outline-dark btn-sm" type="button"
					onclick="$('#admin-console-content').load('/account/userlist/')">
					<i class="fa fa-gavel"></i>&nbsp;&nbsp;&nbsp;Judge Management
				</button>
			</li>
			<li class="nav-item"><a
				class="btn btn-block btn-outline-success btn-sm" href="/getfile/"
				target="_blank" role="button"> <i class="fa fa-download"></i>&nbsp;&nbsp;&nbsp;Export
			</a></li>{% endif %}

		</ul>
	</div>
	<hr>
	<div class="col-md-12" id="admin-console-content"></div>
</div>