<hr>
<style type="text/css">
.custom-file-label::after {
	display: none;
}

.progress {
	display: none;
}
</style>
<script type="text/javascript">
	$("#customFile").change(function() {
		$(".progress").css("display", "flex")
		var form = $('#importFile')[0]
		var data = new FormData(form)
		$
			.ajax({
				type : "POST",
				enctype : 'multipart/form-data',
				data : data,
				processData : false,
				contentType : false,
				cache : false,
				timeout : 60000,
				url : "/importfile/",
				beforeSend : function(xhr, settings) {
					$(".frameLoding").fadeIn()
					if (!(/^http:.*/.test(settings.url) || /^https:.*/
							.test(settings.url))) {
						xhr.setRequestHeader("X-CSRFToken",
								getCookie('csrftoken'))
					}
				},
				success : function(response) {
					if (response.successResult != null) {
						toggleMessageBox(response.successResult, false)
// 						$(".form-signin.form-general-style").find(
// 								"input#inputEmail").val(
// 								$("#registry-form").find("input#username")
// 										.val())
// 						$(".form-signin.form-general-style").find(
// 								"input#inputPassword").val(
// 								$("#registry-form").find("input#password1")
// 										.val())
// 						$(".form-signin.form-general-style").submit()
// 						loadContent($("<li/>").attr({
// 							"data-href" : "/signup_page/"
// 						}))
// 						$("#login-div").load('/account/login/')
// 						$("input[name='req']").remove()
// 						$(".nav-item menu-item.active").trigger("click")
					} else if (response.errorResults != null) {
// 						$("#registry-form").find("small").remove()
// 						$(".tel-no")
// 								.each(
// 										function() {
// 											if ($(this).val().length > 0
// 													&& !$(this).val().match(
// 															phoneno))
														toggleMessageBox(response.errorResults, true)
// 										})
// 						populateErrorMessageFields(response.errorResults, true)
					}
				},
				error : function(xhr, errmsg, err) {
					console.log(xhr.status + ": " + xhr.responseText)
					$(".frameLoding").fadeOut()
					toggleMessageBox(xhr.responseText, true)
				},
				complete : function(response) {
					$(".frameLoding").fadeOut()
					return -1
				}
			})
	})
	{%if message != '' %}
	{%endif%}
	
</script>
<div class="row">
	<div class="col-md-7" data-toggle="buttons">
		<div class="btn-group btn-group-toggle" data-toggle="buttons">
			<label class="btn btn-outline-info"> <input type="radio"
				name="options" id="option1" autocomplete="off" checked
				onclick="$('#admin-console-content').load('/work_lists?status=-2')">
				<i class="fa fa-palette"></i>&nbsp;&nbsp;&nbsp;Artwork Management
			</label> {% if user.is_authenticated and user.user_type == 6%} <label
				class="btn btn-outline-info"> <input type="radio"
				onclick="$('#admin-console-content').load('/account/userlist/')"
				name="options" id="option2" autocomplete="off"> <i
				class="fa fa-user"></i>&nbsp;&nbsp;&nbsp;User Management
			</label> {% endif %}
		</div>
	</div>
	<div class="col-md-1"></div>
	<div class="col-md-2">
		{% if user.is_authenticated and user.user_type == 6%}
		<form id="importFile" method="post" enctype="multipart/form-data">
			<!-- 			<a class="btn btn-block btn-outline-success btn-sm" -->
			<!-- 				href="/importfile/" target="_blank" role="button">Import </a> -->
			<div class="custom-file">
				<input type="file" class="custom-file-input" id="customFile"
					name="fileimport"> <label
					class="custom-file-label btn btn-block btn-outline-success"
					for="customFile"> <i class="fa fa-download"></i>&nbsp;&nbsp;&nbsp;Import
				</label>
			</div>
			{% csrf_token %}
		</form>
		<div class="col-md-12 progress">
			<div class="progress-bar progress-bar-striped progress-bar-animated"
				role="progressbar" aria-valuenow="0" aria-valuemin="0"
				aria-valuemax="100"></div>
		</div>
		{% endif %}
	</div>
	<div class="col-md-2">
		{% if user.user_type == 6 or user.user_type == 7 %} <a
			class="btn btn-block btn-outline-secondary" href="/getfile/"
			target="_blank" role="button"> <i class="fa fa-upload"></i>&nbsp;&nbsp;&nbsp;Export
		</a> {% endif %}
	</div>
	<hr>
	<div class="col-md-12" id="admin-console-content"
		style="overflow: auto;"></div>
</div>
