
<div class="page-title">
	<h4>User</h4>
</div>
<div class="row">
	<div class="col-md-2"></div>
	<label for="content-judge"></label>
	<div class="col-md-8" id="content-judge">
		<form method="post" class="needs-validation form-general-style"
			id="registry-form" action="{% url 'account:registerJudge' %}"
			enctype="multipart/form-data" novalidate>
			<input type="hidden" class="form-control" required
					autocomplete="off" name="id"
					value="{{ form.instance.id|default:'0' }}">
			<div class="form-group row">

				<!-- 					EMAIL -->
				<div class="input-group col-md-6">
					<div class="input-group-prepend">
						<span class="input-group-addon"><i class="fa fa-user"></i></span>
					</div>
					<select name="user_type" class="form-control form-input"
						data-title="Select Gender" data-style="btn-default btn-block"
						data-menu-style="dropdown-blue"><option value="0" {% if form.instance.user_type == 0 %} selected {% endif %}>User type</option> 
						{% for x, y in form.fields.user_type.choices %} {% if x != 1 %}
						<option value="{{ x }}" {% if form.instance.user_type == x %} selected {% endif %}>
							{% endif %} {{ y }}</option> {% endfor %}
					</select>
				</div>
				<div class="input-group col-md-6"></div>
				<div class="input-group col-md-12">
					<br>
				</div>
			</div>
			<hr class="gradeSelect">
			<div class="row gradeSelect">
				<div class="col-md-12">Judges for the grade:</div>
				<input type="hidden" class="form-control form-input"
					id="currentlearnergrade"
					value="{{ form.instance.grade|default:'' }}" required name="grade">
				<!-- 						RADIOS -->
				<div class="col-md-2 btn-group btn-group-toggle btn-sm"
					data-toggle="buttons">
					<label class="btn btn-outline-secondary btn-group btn-group-sm">
						<input type="radio" name="learnergradeRadio" value="Grade 7"
						onclick="gradeChose(this)">Grade 7
					</label>
				</div>
				<div class="col-md-2 btn-group btn-group-toggle btn-sm"
					data-toggle="buttons">
					<label class="btn btn-outline-secondary btn-group btn-group-sm">
						<input type="radio" name="learnergradeRadio" value="Grade 8"
						onclick="gradeChose(this)"> Grade 8
					</label>
				</div>
				<div class="col-md-2 btn-group btn-group-toggle btn-sm"
					data-toggle="buttons">
					<label class="btn btn-outline-secondary btn-group btn-group-sm">
						<input type="radio" name="learnergradeRadio" value="Grade 9"
						onclick="gradeChose(this)"> Grade 9
					</label>
				</div>
				<div class="col-md-2 btn-group btn-group-toggle btn-sm"
					data-toggle="buttons">
					<label class="btn btn-outline-secondary btn-group btn-group-sm">
						<input type="radio" name="learnergradeRadio" value="Grade 10"
						onclick="gradeChose(this)"> Grade 10
					</label>
				</div>
				<div class="col-md-2 btn-group btn-group-toggle btn-sm"
					data-toggle="buttons">
					<label class="btn btn-outline-secondary btn-group btn-group-sm">
						<input type="radio" name="learnergradeRadio" value="Grade 11"
						onclick="gradeChose(this)"> Grade 11
					</label>
				</div>
				<div class="col-md-2 btn-group btn-group-toggle btn-sm"
					data-toggle="buttons">
					<label class="btn btn-outline-secondary btn-group btn-group-sm">
						<input type="radio" name="learnergradeRadio" value="Grade 12"
						onclick="gradeChose(this)"> Grade 12
					</label>
				</div>
				<hr>
			</div>
			<hr>
			<div class="row gradeSelect form-group artwork-container-div">
				<div class="col-md-12">
					<button class="btn btn-info btn-sm" type="button"
						onclick="openArtworkList(this)">
						<i class="fa fa-palette">&nbsp;&nbsp;&nbsp;</i>Allocate
						Artwork
					</button>
				</div>
				<hr>
			</div>
			<hr class="gradeSelect">
			<div class="row gradeSelect form-group">
				<div class="input-group col-sm-6">
					<div class="input-group-prepend">
						<span class="input-group-addon"><i class="fa fa-at"></i></span>
					</div>
					<input type="email" class="form-control" placeholder="Email"
						required autocomplete="off" id="username" name="username"
						value="{{ form.instance.username|default:'' }}">
				</div>

				<!-- 				CELLPHONE -->

				<div class="input-group col-sm-6">
					<div class="input-group-prepend">
						<span class="input-group-addon"><i class="fa fa-mobile"></i></span>
					</div>
					<input type="text" class="form-control" name="cellphone"
						required="required" id="cellphone"
						value="{{ form.instance.cellphone|default:'' }}"
						placeholder="Cellphone Number">
				</div>
			</div>

			<div class="row form-group">


				<!-- 					NAME -->


				<div class="form-group col-sm-6">
					<div class="input-group-prepend">
						<span class="input-group-text">First Name</span>
					</div>
					<input type="text" class="form-control" placeholder="i.e. Joe"
						required id="first_name" name="first_name"
						value="{{ form.instance.first_name | default:'' }}">
				</div>

				<!-- 				SURNAME -->

				<div class="form-group col-sm-6">
					<div class="input-group-prepend">
						<span class="input-group-text">Last Name</span>
					</div>
					<input type="text" class="form-control" placeholder="i.e. Scholtz"
						required id="last_name"
						value="{{ form.instance.last_name | default:'' }}"
						name="last_name">
				</div>
			</div>



			<div class="row form-group">


				<!-- 					Date of Birth -->


				<div class="input-group col-sm-6">
					<div class="input-group-prepend">
						<span class="input-group-addon"><i
							class="fa fa-birthday-cake"></i></span>
					</div>
					<input type="date" class="form-control" required id="dob"
						name="dob" value="{{ form.instance.dob|default:'2013-01-08' }}">
				</div>

				<div class="col-sm-6"></div>
			</div>
			<div class="row form-group">

				<div class="input-group col-sm-6">
					<div class="input-group-prepend">
						<span class="input-group-text">Organisation</span>
					</div>
					<input type="text" class="form-control" id="organisation"
						name="organisation" placeholder="i.e. Nelson Mandela High School"
						value="{{ form.instance.organisation|default:'' }}" required>
				</div>
			</div>
			<div class="row form-group">
				<div class="input-group col-sm-6">
					<div class="input-group-prepend">
						<span class="input-group-addon"><i class="fa fa-key"></i></span>
					</div>
					<input type="password" class="form-control" id="password1"
						name="password1" placeholder="Password" required
						value="">
				</div>

				<div class="input-group col-sm-6">
					<div class="input-group-prepend">
						<span class="input-group-addon"><i class="fa fa-key"></i></span>
					</div>
					<input type="password" class="form-control" id="password2"
						name="password2" placeholder="Repeat Password"
						value="" required>
				</div>
			</div>
			{% csrf_token %}
			<div class="row form-group">
				<div class="col-md-6 text-center">
					<button class="btn btn-primary btn-success btn-block" type="button"
						id="register-btn"
						onclick="submitRegistryForm('{% url 'account:registerJudge' %}')">
						<i class="fa fa-save">&nbsp;&nbsp;&nbsp;</i>Save
					</button>
				</div>
				<div class="col-md-6 text-center">
					<button class="btn btn-outline-warning btn-block" type="button"
						id="register-btn" onclick="closeFullScreenDiv()">
						<i class="fa fa-times-circle">&nbsp;&nbsp;&nbsp;</i>Close
					</button>
				</div>
			</div>
		</form>
	</div>
	<script>
function submitRegistryForm(url) {
	$(".frameLoding").fadeIn()
	var form = $('#registry-form')[0]
	$("#register-btn").prop("disabled", true)
	var data = new FormData(form)
	$.ajax({
		type : "POST",
		enctype : 'multipart/form-data',
		data : data,
		processData : false,
		contentType : false,
		cache : false,
		timeout : 60000,
		url : url,
		beforeSend : function(xhr, settings) {
			if (!(/^http:.*/.test(settings.url) || /^https:.*/
					.test(settings.url))) {
				xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'))
			}
		}, success : function(response) {
			if (response.successResult != null) {
				toggleMessageBox(response.successResult, false)
				$(".form-signin.form-general-style").find("input#inputEmail")
						.val($("#registry-form").find("input#username").val())
				$(".form-signin.form-general-style")
						.find("input#inputPassword").val($("#registry-form").find("input#password1")
										.val())
				$(".form-signin.form-general-style").submit()
				$('#admin-console-content').load('/account/userlist/')
				closeFullScreenDiv()
		} else if (response.errorResults != null) {
				$("#registry-form").find("small").remove()
				populateErrorMessageFields(response.errorResults)
				toggleMessageBox("<span>Registration unsuccessful.</span>",
						true)

			}
		}, error : function(xhr, errmsg, err) {
			console.log(xhr.status + ": " + xhr.responseText)
			toggleMessageBox(xhr.responseText, true)
			$(".frameLoding").fadeOut()
		}, complete : function(response) {
			$(".frameLoding").fadeOut()
			$("#register-btn").prop("disabled", false);
			return false
		}
	})
}
$(document).ready(function(){
	$("select[name='user_type']").change(function(){
		showgroup()
	})
	$("select[name='user_type']").val({{form.instance.usertype | default_if_none:0}})
	showgroup()
	gradeChose(null)
})
function showgroup() {
	if($("select[name='user_type']").val()=='4')
		$(".gradeSelect").show()
	else
		$(".gradeSelect").hide()
	$.each($("input[name='learnergradeRadio']"), function(i, val) {
				$("input[name='learnergradeRadio'][value='"
								+ $("#currentlearnergrade").val() + "']").prop(
						'checked', true)
				$("input[name='learnergradeRadio'][value='"
								+ $("#currentlearnergrade").val() + "']")
						.parent().addClass("active")
			})
}

function openArtworkList(item) {
	if($("input[name='learnergradeRadio']:checked").length<=0){
		toggleMessageBox("Please select a grade first.", true)
	} else
		showDialogPage(item, "/work_lists_checkbox?judge="+$("#username").val()+"&grade="+
				$("input[name='learnergradeRadio']:checked").val().replace(" ","%20"))
}
</script>