<div class="row">
	<div class="col-md-10 page-title">
		<h2>User List</h2>
	</div>
	<div class="col-md-2">
		<button class="btn btn-sm btn-success" 
			onclick="showDialogPage(this, '{% url 'account:registerJudge' %}')">
			<i class="fa fa-plus"></i>&nbsp;
		</button>
	</div>
</div>
<div class="row">
	<div class="col-md-12" id="judge-list">
		<table class="table table-general-style">
			<thead>
				<tr>
					<th scope="col">Email</th>
					<th scope="col">Full Name</th>
					<th scope="col">User Type</th>
					<th scope="col">Organisation</th>
					<th scope="col">Cellphone</th>
				</tr>
			</thead>
			<tbody>
				{% for user in userlist %}
				<tr
					onclick="showDialogPage(this, '/account/register_judge?username={{ user.username }}')">
					<td>{{ user.username }}</td>
					<th scope="row">{{ user.last_name }}, {{ user.first_name }}</th>
					<td>{{ user.get_user_type_display }}</td>
					<td>{{ user.organisation }}</td> 
					<td>{{ user.cellphone }}</td>
					{% endfor %}
				</tr>
			</tbody>
		</table>
	</div>
</div>