<style>
.centered {
	text-align: center;
}
.row-hover{
	cursor: pointer;
}
</style>
<div class="row">
	<div class="col-md-10 page-title">
		<h2>Allocate Artwork to {{ request.GET.judge }}</h2>
	</div>
	<div class="col-md-2"></div>
</div>
<div class="photo-viewer"></div>
<table class="table table-general-style">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Full Name</th>
			<th scope="col">Status</th>
			<th scope="col">Work Title</th>
			<th scope="col">School</th>
			<th scope="col">Grade</th> 
		</tr>
	</thead>
	<tbody>
		{% for work in works %}
		<tr class="row-hover" onclick="allocateArtworkToJudge('{{ request.GET.judge }}','{{ work.id }}')">
			<td>{{ forloop.counter }}</td>
			<td>{{ work.owner.last_name }}, {{ work.owner.first_name }}</td>
			<td>{{ work.get_status_display }}</td>
			<td>{{ work.worktitle }} {%if work.thumbnail.url != None %}
				<div class="artwork-thumbnail">
					<img class="img-thumbnail" src='{{ work.thumbnail.url }}'>
				</div> {%endif%}
			</td>
			<td>{{ work.school.name }}</td>
			<td>{{ work.learnergrade }}</td> 
		</tr>
		{% endfor %}
	</tbody>
</table>
<script>
setTimeout(function(){
	$("tr.row-hover").each(function() {
		$(this).mouseenter(function() {
			$(".photo-viewer").html($(this).find(".artwork-thumbnail").html())
			TweenLite.to(".photo-viewer", .2, {
				scale: 1,
				"z-index": 11,
				opacity: 1,
				transformOrigin: "center"
			})
			TweenLite.to($(this), .2, {
				"z-index": 10,
				transformOrigin: "center",
				"box-shadow": "black 0px 0px 11px"
			})
		})
		$(this).mouseleave(function(){
			$(".photo-viewer").html("")
			TweenLite.to(".photo-viewer", .2 , {
				scale: 0,
				opacity: 0,
				"z-index": 1,
				transformOrigin: "center"
			})
			TweenLite.to($(this), .2, {
				"z-index": 1,
				transformOrigin: "center",
				"box-shadow": "none"
			})
		})
	})
}, 200)
function allocateArtworkToJudge(judge, artwork){
	alert(judge + artwork)
}
</script>
