<div class="page-title">
	<h2>Artwork List</h2>
</div>
<div class="photo-viewer"></div>
<div class="row">
	<div class="col-md-3">
		<label for="status">Filter Status</label> <select
			onchange="changeView(this)" class="form-control form-input"
			id="status"><option value="-2">All</option>
			<option value="-1">Pending</option>
			<option value="0">Submitted</option>
			<option value="1">Required Revision</option>
			<option value="2">Revised Work</option>
			<option value="3">Rejected Stage 0</option>
			<option value="4">Accepted Stage 0</option>
			<option value="5">Waiting for Decision</option>
			<option value="6">Accepted Stage 1</option>
			<option value="7">Rejected Stage 1</option>
			<option value="8">Waiting for Posting Artwork</option>
			<option value="9">Rejected Stage 2</option>
			<option value="10">Artwork Received</option>
			<option value="11">Rejected Stage 3</option>
			<option value="12">Winner</option>
		</select>
	</div>
	<div class="col-md-3">
	Number of learners: {{numberoflearners}}
	</div>
	<div class="col-md-3">
	Submitted works: {{numberofartworks}}
	</div>
</div>
<script type="text/javascript">
$("#status").val({{request.GET.status}})
function changeView(select){
	$(".frameLoding").fadeIn()
	$('#admin-console-content').load("/work_lists?status="+$(select).val(),function(){
		$(".frameLoding").fadeOut()
	})
}
</script>
<table class="table table-general-style">
	<thead>
		<tr>
			<th scope="col"></th>
			<th scope="col">Full Name</th>
			<th scope="col">Status</th>
			<th scope="col">Work Title</th>
			<th scope="col">School</th>
			<th scope="col">Grade</th>
		</tr>
	</thead>
	<tbody>
		{% for work in works %}
		<tr class="row-hover" {% if work.status == -1 %}
				onclick="toggleMessageBox('There is no artwork for this entry', true)"
			{% else %} 
				onclick="showDialogPage(this, '{% url 'artwork:work_details' work.id %}')"{%endif%}>
			<th scope="row">{{ forloop.counter }}</th>
			<td>{{ work.owner.last_name }}, {{ work.owner.first_name }}</td>
			<td>{{ work.get_status_display }}</td>
			<td>{{ work.worktitle }} {%if work.thumbnail.url != None %}
				<div class="artwork-thumbnail">
					<img class="img-thumbnail" src='{{ work.thumbnail.url }}'>
				</div> {%endif%}
			</td>
			<td>{{ work.school.name }}</td>
			<td>{{ work.learnergrade }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<script>
setTimeout(function(){
	$("tr.row-hover").each(function() {
		$(this).mouseenter(function() {
			$(".photo-viewer").html($(this).find(".artwork-thumbnail").html())
			TweenLite.to(".photo-viewer", .2, {
				scale: 1,
				"z-index": 11,
				opacity: 1,
				transformOrigin: "center"
			})
			TweenLite.to($(this), .2, {
				scale: 1.02,
				"z-index": 10,
				transformOrigin: "center",
				"box-shadow": "black 0px 0px 33px"
			})
		})
		$(this).mouseleave(function(){
			$(".photo-viewer").html("")
			TweenLite.to(".photo-viewer", .2 , {
				scale: 0,
				opacity: 0,
				"z-index": 1,
				transformOrigin: "center"
			})
			TweenLite.to($(this), .2, {
				scale: 1,
				"z-index": 1,
				transformOrigin: "center",
				"box-shadow": "none"
			})
		})
	})
}, 200)
</script>
<script type="text/javascript" src="static/js/work.detail.admin.js">
