<style>
.centered {
	text-align: center;
}
</style>
<div class="row">
	<div class="col-md-10 page-title">
		<h2>Artwork List</h2>
	</div>
	<div class="col-md-2"></div>
</div>
<div class="photo-viewer"></div>
{% if user.user_type == 6 or user.user_type == 7 %}
<div class="row">
	<div class="col-md-3">
		<label for="status">Filter Status</label> <select
			onchange="changeView(this)" class="form-control form-input"
			id="statuses"><option value="-2">All</option>
			<option value="-1">Pending</option>
			<option value="0">Submitted</option>
			<option value="1">Required Revision</option>
			<option value="2">Revised Work</option>
			<option value="3">Rejected Entry</option>
			<option value="4">Accepted Entry</option>
			<option value="5">Waiting for GMMDC Decision</option>
			<option value="6">Accepted by GMMDC</option>
			<option value="7">Rejected by GMMDC</option>
			<option value="8">Waiting for Posting Artwork</option>
			<option value="9">Rejected by Judge2</option>
			<option value="10">Artwork Received</option>
			<option value="11">Rejected at the Final Stage</option>
			<option value="12">Winner</option>
		</select>
	</div>
	<div class="col-md-3">Number of learners: {{numberoflearners}}</div>
	<div class="col-md-3">Submitted works: {{numberofartworks}}</div>
</div>
{%endif%}
<script type="text/javascript">
$("#statuses").val({{request.GET.status}})
function changeView(select) {
	$(".frameLoding").fadeIn()
	$('#admin-console-content').load("/work_lists?status="+$("#statuses").val(),function() {
		$(".frameLoding").fadeOut()
	})
}
</script>
<table class="table table-general-style">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Work Title</th>{% if user.user_type == 6 or user.user_type == 7 %}
			<th scope="col">Full Name</th>
			<th scope="col">Status</th>
			<th scope="col">School</th>
			<th scope="col">Grade</th> 
			<th scope="col" class="centered">Flag</th> 
			<th scope="col" class="centered">View</th> {% endif %}
			<th scope="col" class="centered">Evaluate</th> 
			{% if user.user_type == 6 %}
			<th scope="col" class="centered">Edit</th>
			<th scope="col" class="centered">Learner</th>
<!-- 			<th scope="col" class="centered">Remove</th> -->
			 {% endif %}
		</tr>
	</thead>
	<tbody>
		{% for work in works %}
		<tr class="row-hover">
			<td>{{ forloop.counter }}</td>
			<td>{{ work.worktitle }} {%if work.thumbnail.url != None %}
				<div class="artwork-thumbnail">
					<img class="img-thumbnail" src='{{ work.thumbnail.url }}'>
				</div> {%endif%}
			</td>
			{% if user.user_type == 6 or user.user_type == 7 %}
			<td>{{ work.owner.last_name }}, {{ work.owner.first_name }}</td>
			<td>{{ work.get_status_display }}</td>
			<td>{{ work.school.name }}</td>
			<td>{{ work.learnergrade }}</td> 
			<td><button
					class="btn flag-icon {% if work.flagged %} btn-warning {% else %} btn-outline-warning {% endif %}"
					type="button" {% if user.user_type == 6 %}
					onclick="flagit(this, {{ work.id }})"
					{% endif %}
					id="flag-btn-{{ work.id }}">
					<i class="fa fa-font-awesome-flag"></i>
				</button></td> 
			<td class="centered"><button class="btn btn-outline-info"
					type="button"
					onclick="showDialogPage(this, '{% url 'artwork:work_details' work.id 1 %}')">
					<i class="fa fa-eye"></i>
				</button></td> {% endif %}
			<td class="centered"><button class="btn btn-outline-info"
					type="button"
					onclick="showDialogPage(this, '{% url 'artwork:work_details' work.id 0 %}')">
					<i class="fa fa-gavel"></i>
				</button></td> {% if user.user_type == 6 %}
			<td class="centered"><button
					class="btn btn-outline-info" type="button"
					onclick="window.open('/admin/artwork/artwork/{{work.id}}/change/')">
					<i class="fa fa-edit"></i>
				</button></td>
			<td class="centered"><button
					class="btn btn-outline-info" type="button"
					onclick="window.open('/admin/account/projectuser/{{work.owner.id}}/change/')">
					<i class="fa fa-user"></i>
				</button></td>
<!-- 			<td class="centered"><button -->
<!-- 					class="btn btn-outline-danger disabled" type="button" -->
<!-- 					onclick="toggleMessageBox('Not a valid action',true)"> -->
<!-- 					<i class="fa fa-trash-alt"></i> -->
<!-- 				</button></td> -->
				{% endif %}
		</tr>
		{% endfor %}
	</tbody>
</table>
<script>
setTimeout(function(){
	$("tr.row-hover").each(function() {
		$(this).mouseenter(function() {
			$(".photo-viewer").html($(this).find(".artwork-thumbnail").html())
			TweenLite.to(".photo-viewer", .2, {
				scale: 1,
				"z-index": 11,
				opacity: 1,
				transformOrigin: "center"
			})
			TweenLite.to($(this), .2, {
				"z-index": 10,
				transformOrigin: "center",
				"box-shadow": "black 0px 0px 11px"
			})
		})
		$(this).mouseleave(function(){
			$(".photo-viewer").html("")
			TweenLite.to(".photo-viewer", .2 , {
				scale: 0,
				opacity: 0,
				"z-index": 1,
				transformOrigin: "center"
			})
			TweenLite.to($(this), .2, {
				"z-index": 1,
				transformOrigin: "center",
				"box-shadow": "none"
			})
		})
	})
}, 200)
</script>
