:root { 
	--main-color-green: #01c8a6;
	--main-color-pink: #ea5251;
	--main-color-yellow: #f1e106;
	--main-color-dark-blue: #3b2f8b;
	--main-color-aqua: rgb(141, 244,243);
	--main-color-grey-text: rgb(192,200,211);
	--main-color-light-blue: #9ed5df;
}
