.form-general-style {
  /* background: rgba(243, 247, 255, 0.2); */
  border-radius: 22px;
}

.form-title {
  text-align: center;
  padding-top: 11px;
  border-bottom: 1px solid rgb(243, 247, 255);
}

.form-section {
  border-radius: 22px;
  padding: 22px;
  margin-bottom: 33px;
  text-align: left;
  position: relative;
  background: #2c2f4a;
}

.form-section label {
  font-size: 14px;
  margin-bottom: 0px;
}

.form-section input {
  margin-bottom: 7px;
  background: #1b1c2c;
  border: none;
  border-bottom: 2px solid #8aa5d6;
  border-radius: 7px;
  color: white;
}

.form-section input::placeholder {
  color: #bbbbbb;
}

.form-section input:focus {
  background: #00000066;
  border: none;
}

.form-section::after {
  content: attr(data-title);
  font-size: 19px;
  line-height: 1.1;
  position: absolute;
  top: -11px;
  left: 22px;
  pointer-events: none;
  color: #ffffff;
  font-weight: bold;
}

.multi_step_form #msform {
  text-align: center;
  position: relative;
  margin: 0 auto;
  z-index: 1;
}


.multi_step_form #msform fieldset {
  border: 0;
  padding: 33px 22px;
  position: relative;
  width: 100%;
  left: 0;
  right: 0;
}

.multi_step_form #msform fieldset:not(:first-of-type) {
  display: none;
}



.multi_step_form #msform #progressbar {
  overflow: hidden;
}

.multi_step_form #msform #progressbar li {
  list-style-type: none;
  color: #99a2a8;
  font-size: 9px;
  width: calc(100%/3);
  float: left;
  position: relative;
  font: 500 13px/1 "Roboto", sans-serif;
}

.multi_step_form #msform #progressbar li:nth-child(1):before {
  background: url('../img/icons/user.svg') rgb(11, 14, 30);
  background-position: center;
  background-size: 66%;
  background-repeat: no-repeat;
}

.multi_step_form #msform #progressbar li:nth-child(2):before {
  background: url('../img/icons/university.svg') rgb(11, 14, 30);
  background-position: center;
  background-size: 66%;
  background-repeat: no-repeat;
}

.multi_step_form #msform #progressbar li:nth-child(3):before {
  background: url('../img/icons/artwork.svg') rgb(11, 14, 30);
  background-position: center;
  background-size: 66%;
  background-repeat: no-repeat;

}

.multi_step_form #msform #progressbar li:before {
  content: " ";
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: block;
  background-color: #eaf0f4;
  border-radius: 50%;
  margin: 0 auto 10px auto;
}

.multi_step_form #msform #progressbar li:after {
  content: '';
  width: 100%;
  height: 10px;
  background-color: #eaf0f4;
  position: absolute;
  left: -50%;
  top: 21px;
  z-index: -1;
}

.multi_step_form #msform #progressbar li:last-child:after {
  width: 150%;
}

.multi_step_form #msform #progressbar li.active {
  color: white;
}

.multi_step_form #msform #progressbar li.active:before,
.multi_step_form #msform #progressbar li.active:after {
  background-color: rgb(11, 14, 30);
}

.multi_step_form #msform .previous_button {
  background: transparent;
  color: white;
  border: 1px solid rgb(13, 39, 55);
  box-shadow: none;
}

.multi_step_form #msform .previous_button:hover,
.multi_step_form #msform .previous_button:focus {
  color: #fff;
  background: linear-gradient(45deg, #164d7a, #6a88a0);
}