.main-content-brain {
	background-color: var(--main-color-green);
}

.brain-holder-div {
    background-image: url(../img/bg/Backicons.svg);
    background-size: 88%;
    background-repeat: no-repeat;
    text-align: center;
    margin: 33px 0;
    background-position: 77% 13%;
}

.brain-holder-div img {
    width: 70%;
    height: auto;
    margin-top: 24px;
}

.my-universe {
	color: var(--main-color-dark-blue);
	font-size: 44px;
	text-align: center;
	margin: 0 0 22px 0;
}

.comp-theme {
	color: var(--main-color-pink);
    font-size: 33px;
    text-align: center;
    font-weight: bold;
	margin: 22px 0 11px 0;
}

.youtube-btn {
	text-align: center;
	margin-bottom: 22px;
}
.youtube-btn img{
	width: 33%;
	height: auto;
}

#banner-bottom-home {
	background-color: var(--main-color-pink) !important;
    height: 133px;
    margin-bottom: 33px;
    padding-top: 11px;
}

.col-md-6.mid-div-icons{
	color: var(--main-color-aqua) !important;
	font-size: 22px;
	font-weight: bold;
}
.col-md-6.mid-div-icons img{
	width: 44px;
	height: 44px;
	margin-right: 11px;
}

.mid-div-container .col-md-6 {
	color: var(--main-color-grey-text);
}

.contact-title {
	font-size: 33px;
	color: var(--main-color-light-blue);
	text-align: center;
	font-weight: bold;
}

.contact-logo-holder {
	width: 222px;
	height: auto;
}

.contact-main-div-bg{
/* 	background-image: url(../img/icons/Enter.svg); */
}