html,
body {
  height: 100%;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: sans-serif !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px white;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 11px;
}

::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}

.content {
  width: inherit;
  height: inherit;
}

#universe {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 960px;
}

.lh-condensed {
  line-height: 1.25;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

canvas {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

#main-body {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  /* background: #174c66; */
  border: none;
  z-index: 1;
  overflow: hidden;
  background-image: radial-gradient(1600px at 70% 120%, rgba(33, 39, 80, 1) 10%, #020409 100%);
}

.background-sitting {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  opacity: 0.2;
  z-index: 0;
}

#main-frame {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 99px -33px rgb(54, 100, 122);
  background: rgba(255, 255, 255, 0);
  overflow: hidden;
}

.menu-items-holder {
  position: absolute;
  width: 100%;
  padding: 0;
  margin: 0;
  top: 0;
  display: grid;
}


.menu-items {
  list-style: none;
  display: flex;
  margin: 0 auto;
  padding: 0;
}

.menu-items li {
  margin: 0 11px;
  border-bottom: 1px solid rgb(175, 208, 233);
  padding: 0px 22px 0px 22px;
  border-radius: 0 0 22px 22px;
  cursor: pointer;
  -webkit-transition: transform .2s ease-in, box-shadow .2s ease-in;
  -moz-transition: transform .2s ease-in, box-shadow .2s ease-in;
  -o-transition: transform .2s ease-in, box-shadow .2s ease-in;
  -ms-transition: transform .2s ease-in, box-shadow .2s ease-in;
  transition: transform .2s ease-in, box-shadow .2s ease-in;
  height: 33px;
  background: white;
}

.menu-items li:hover {
  box-shadow: 0px 11px 22px -22px rgb(54, 100, 122);
  transform: scale(1.1);
}

.menu-items li img {
  width: 22px;
  display: inline-block;
  padding: 3px;
}

.menu-items li span {
  color: #174c66;
  display: inline-block;
  padding: 11px;
  line-height: 7px;
  font-size: 19px;
}

#sign-up::before {
  content: 'Free Entry';
  color: #174c66;
  margin-top: -12px;
  margin-left: -27px;
  background-image: url(../img/icons/star.svg);
  background-position: left top;
  background-size: 22px 22px;
  background-repeat: no-repeat;
  z-index: 1;
  position: absolute;
  width: 113px;
  height: 33px;
  padding-left: 27px;
  font-weight: bold;
}

.page-content {
  overflow-x: hidden;
  overflow-y: auto;
  color: white;
  padding: 0 11px;
}

.page-content-area-bg {
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
}

.page-content-area {
  height: 100%;
  width: 100%;
}

.page-content {
  position: absolute;
  top: 0;
  left: 0;
}