{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>{% block title %} {% endblock title %}</title>

<link href="static/css/bootstrap/bootstrap.css" rel="stylesheet">
<link href="static/css/style.css" rel="stylesheet">
<link href="static/css/constants.css" rel="stylesheet">
<link href="static/css/buttons.style.css" rel="stylesheet">
<link href="static/css/form.style.css" rel="stylesheet">
<link href="static/css/table.style.css" rel="stylesheet">
<link href="static/css/menu.style.css" rel="stylesheet">
<link href="static/css/content.style.css" rel="stylesheet">
<script src="static/js/jquery/jquery-3.4.1.min.js"></script>
<script src="static/js/bootstrap/bootstrap.min.js"></script>
<script src="static/js/GSAP/TweenMax.min.js"></script>
<script src="static/js/math.js"></script>

</head>

<body>
	<div class="container">
		<div class="message-box-container">
			<div class="message-box error-message-box"></div>
			<div class="message-box success-message-box"></div>
			<div class="return-button" onclick="toggleMessageBox(null, null)">
			</div>
		</div>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#"><img src="static/img/MAlogo.png"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="menu-item active" data-href-html="home.html"
						data-href="/home/"><a class="nav-link" href="#"><img
							class="svg" src="static/img/icons/home.svg"><span>Home</span></a></li>

					<li class="menu-item" data-href-html="howtoenter.html"
						data-href="/howtoenter/"><a class="nav-link" href="#"><img
							class="svg" src="static/img/icons/How.svg"><span>How
								to Enter</span></a></li>

					<li class="menu-item" data-href-html="rules.html"
						data-href="/rules/"><a class="nav-link" href="#"><img
							class="svg" src="static/img/icons/Rules.svg"><span>Competition
								Rules</span></a></li>

					<li class="menu-item" data-href-html="faq.html" data-href="/faq/"><a
						class="nav-link" href="#"><img class="svg"
							src="static/img/icons/FAQ.svg"><span>Frequently
								Asked Questions</span></a></li>

					<li class="menu-item" data-href-html="signup_page.html"
						data-href="/signup_page/"><a class="nav-link" href="#"><img
							class="svg" src="static/img/icons/Enter.svg"><span>Enter
								Now</span></a></li>

					<li class="menu-item" data-href-html="history.html"
						data-href="/history/"><a class="nav-link" href="#"><img
							class="svg" src="static/img/icons/History.svg"><span>Competition
								History</span></a></li>
					<li class="menu-item" data-href-html="contactus.html"
						data-href="{% url 'artwork:contactus' %}"><a class="nav-link"
						href="#"><img class="svg" src="static/img/icons/Contact.svg"><span>Contact
								Us</span></a></li>
					</li>
				</ul>
				<!-- 				<form class="form-inline my-2 my-lg-0"> -->
				<!-- 					<input class="form-control mr-sm-2" type="search" -->
				<!-- 						placeholder="Search" aria-label="Search"> -->
				<!-- 					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
				<!-- 				</form> -->
			</div>
		</nav>

		<div class="row">
			<div class="col-md-12" id="page-content">{% block content %}</div>
		</div>

		<!-- 			<div class="menu-items-holder menu-items-holder-left"> -->
<!-- 		<ul class="menu-items menu-top"> -->
<!-- 			{% if user.is_authenticated and user.user_type == 6%} -->
<!-- 			<li class="menu-item" id="about-us" -->
<!-- 				data-href="{% url 'artwork:work_lists' %}"><img -->
<!-- 				src="static/img/icons/document.svg"><span>Artwork List</span></li> -->
<!-- 			{% endif %} {% if user.is_authenticated and user.user_type == 1%} -->
<!-- 			<li class="menu-item" id="sign-up" -->
<!-- 				data-href="{% url 'artwork:signup_page' %}"><img -->
<!-- 				src="static/img/icons/trophy.svg"><span>Submit Artwork -->
<!-- 			</span></li> {% endif %} -->

<!-- 		</ul> -->
{% if user.is_authenticated %}
		<div class="form-section row">
			<img class="user-icon" src="static/img/icons/user.svg">
			<p style="display: inline-block;">
			<h4 style="display: inline-block; padding-left: 22px;">{{ user.get_username }}</h4>
			</p>
			<div class="row">
				<div class="col-md-9">
					<a href="#">Change Password</a>
				</div>
				<div class="col-md-3">
					<a href="{% url 'account:logout' %}">Logout</a>
				</div>
			</div>
		</div>
		{% else %}
		<div id="login-div"></div>
		{% endif %}
		<!-- 			</div> -->
		<!-- 		</div> -->

		<footer class="my-5 pt-5 text-muted text-center text-small">
			<p class="mb-1">&copy; 2019 Company Name</p>
			<ul class="list-inline">
				<li class="list-inline-item"><a href="#">Privacy</a></li>
				<li class="list-inline-item"><a href="#">Terms</a></li>
				<li class="list-inline-item"><a href="#">Support</a></li>
			</ul>
		</footer>
	</div>
	{% endblock %}
</body>

</html>