<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
{% with version=0.58 %}
<title>{% block title %} {% endblock title %}</title>
<meta http-equiv="Cache-Control"
	content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<link rel="stylesheet" href="static/css/font-awesome/css/all.min.css">
<!-- <link -->
<!-- 	href="//db.onlinewebfonts.com/c/07d3973894be3bed33aa1447c022b323?family=luna" -->
<!-- 	rel="stylesheet" type="text/css" /> -->
<link href="{% static 'css/bootstrap/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'css/constants.css' %}" rel="stylesheet">
<link href="{% static 'css/animation.css' %}" rel="stylesheet">
<link href="{% static 'css/buttons.style.css' %}" rel="stylesheet">
<link href="{% static 'css/form.style.css' %}" rel="stylesheet">
<link href="{% static 'css/table.style.css' %}" rel="stylesheet">
<link href="{% static 'css/menu.style.css' %}" rel="stylesheet">
<link href="{% static 'css/home.style.css' %}" rel="stylesheet">
<link href="{% static 'css/content.style.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<script src="{% static 'js/jquery/jquery-3.4.1.min.js' %}"
	type="text/javascript"></script>
<script src="{% static 'js/bootstrap/bootstrap.min.js' %}"
	type="text/javascript"></script>
<script src="{% static 'js/bootstrap/validator.min.js' %}"
	type="text/javascript"></script>
<script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"
	type="text/javascript"></script>
<script src="{% static 'js/GSAP/TweenMax.min.js' %}"
	type="text/javascript"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
</head>
<body>
	<div class="container">

		<div class="modal fade" id="success-message-modal" tabindex="-1"
			role="dialog" aria-labelledby="success-message-modal"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content card text-white bg-success">
					<div class="modal-header card-header">
						<h5 class="modal-title text-white" id="exampleModalLabel">
							<i class="fa fa-thumbs-up">&nbsp;&nbsp;&nbsp;</i>Succeed
						</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body success-message-content">body</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-light" data-dismiss="modal">
							<i class="fa fa-times-circle">&nbsp;&nbsp;&nbsp;</i>Close
						</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="error-message-modal" tabindex="-1"
			role="dialog" aria-labelledby="success-message-modal"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content card text-white bg-danger">
					<div class="modal-header card-header">
						<h5 class="modal-title text-white" id="exampleModalLabel">
							<i class="fa fa-thumbs-down">&nbsp;&nbsp;&nbsp;</i>Failed
						</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body error-message-content">body</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-light" data-dismiss="modal">
							<i class="fa fa-times-circle">&nbsp;&nbsp;&nbsp;</i>Close
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="frameLoding">
			<div class="frame">
				<div class="center">
					<div class="dot-1"></div>
					<div class="dot-2"></div>
					<div class="dot-3"></div>
					<div class="loading">
						<div class="loading-text">
							<span class="loading-text-words">L</span> <span
								class="loading-text-words">O</span> <span
								class="loading-text-words">A</span> <span
								class="loading-text-words">D</span> <span
								class="loading-text-words">I</span> <span
								class="loading-text-words">N</span> <span
								class="loading-text-words">G</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="full-screen-div"></div>
		<nav
			class="navbar navbar-expand-sm sticky-top navbar-light bg-light row">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"> <img id="enter-now-btn"
					src="static/img/MAlogo.png" width="30" height="30" alt=""
					data-href="/home/" class="menu-item">
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav" style="margin: 0 auto;">
					<li class="nav-item menu-item active" data-href-html="home.html"
						data-href="/home/"><a class="nav-link" href="#"><img
							class="svg" src="static/img/icons/Home.svg"><span>Home</span></a></li>

					<li class="nav-item menu-item" data-href-html="howtoenter.html"
						data-href="/howtoenter/" data-color="--main-color-dark-blue"
						data-color2="--main-color-yellow"><a class="nav-link"
						href="#"><img class="svg" src="static/img/icons/How.svg"><span>How
								to Enter</span></a></li>

					<li class="nav-item menu-item" data-href-html="rules.html"
						data-color="--main-color-yellow" data-href="/rules/"><a
						class="nav-link" href="#"><img class="svg"
							src="static/img/icons/Rules.svg"><span>Rules</span></a></li>

					<li class="nav-item menu-item" data-href-html="signup_page.html"
						data-href="/signup_page"><a
						class="nav-link" href="#"><img class="svg"
							src="static/img/icons/Enter.svg"><span>Enter Now</span></a></li>
					<!-- 								CMNT -->
					{% if user.is_authenticated and user.user_type != 1 %}
					<li class="menu-item" data-href-html="signup_page.html" id="admin-page-btn"
						data-href="/manager_console?ver={{ version }}"><a
						class="nav-link" href="#"><img class="svg"
							src="static/img/icons/Enter.svg"><span>Admin</span></a></li> {% endif %}
<!-- 					<li class="nav-item menu-item" data-href-html="history.html" -->
<!-- 						data-color="--main-color-pink" data-href="/history/"><a -->
<!-- 						class="nav-link" href="#"><img class="svg" -->
<!-- 							src="static/img/icons/History.svg"><span>History</span></a></li> -->

					<li class="nav-item menu-item" data-href-html="faq.html"
						data-href="/faq/" data-color="--main-color-light-blue"><a
						class="nav-link" href="#"><img class="svg"
							src="static/img/icons/FAQ.svg"><span>FAQ's</span></a></li>


					<li class="menu-item" data-href-html="contactus.html"
						data-color="--main-color-dark-blue"
						data-href="{% url 'artwork:contactus' %}"><a class="nav-link"
						href="#"><img class="svg" src="static/img/icons/Contact.svg"><span>Contact
						</span></a></li>
					</li>
				</ul>
			</div>
			<div class="navbar-nav navbar-right ml-auto" id="login-div">
			</div>
		</nav>
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-12" id="page-content"></div>
				</div>
				<div class="row second-color" id="banner-bottom-1">
					<div class="col-md-12 banners-text-content">
						<label for="signupbuttonIdMain">Registration opens in...</label>
						<div id="signupbuttonIdMain" class="timeCounterDiv">
							<ul>
								<li class="date-counter" data-text="days"
									style="border-left: none;"><span>22</span></li>
								<li class="date-counter" data-text="hrs"></li>
								<li class="date-counter" data-text="mins"></li>
								<li class="date-counter" data-text="sec"></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="row " id="banner-bottom-2">
					<div class="col-md-12 third-color">
						<a class="social-media-btn"
							href="https://www.facebook.com/Math-Art-Competition-at-GMMDC-333580137370642"
							target="_blank"><i class="fa fa-facebook"></i></a> <a
							href="https://www.youtube.com/channel/UCoIN6VW5zUxGaDs-ugvODZg"
							target="_blank" class="social-media-btn"> <i
							class="fa fa-youtube"></i></a> <a target="_blank"
							href="https://www.instagram.com/mathart2020/"
							class="social-media-btn"><i class="fa fa-instagram"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% block content %} {% endblock %}
</body>
<script src="static/js/math.js?ver={{ version }}"></script>
<script type="text/javascript"
	src="static/js/entry.form.js?ver={{ version }}"></script>
<script async=""
	src="https://www.googletagmanager.com/gtag/js?id=UA-156942839-1"></script>
<script type="text/javascript">
var ua = window.navigator.userAgent;
var msie = ua.indexOf("MSIE ");
if (msie>0) 
{
	setTimeout(function(){
		toggleMessageBox("This web-application is not accessible from the Internet Explorer. "+
				"For the best performance, use these links to download a browser<br> "+
				"<a href='https://www.google.com/chrome/?brand=CHBD'>Google Chrome</a> | <a href='https://www.microsoft.com/en-us/edge'>Microsoft Edge</a>", false)
	},2000)
}
var version = {{ version }}
	window.dataLayer = window.dataLayer || [];
	function gtag() {
		dataLayer.push(arguments);
	}
	gtag('js', new Date());
	gtag('config', 'UA-156942839-1');
</script>
{% endwith %}
</html>