<script src="static/js/cropper.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" crossorigin="anonymous">
<script type="text/javascript">
	var Cropper = window.Cropper;

	function handleFileSelect() {
		var file = document.getElementById("workfile").files[0];
		var reader = new FileReader();
		reader.onload = function(event) {
			var data = event.target.result;
			var container = document.querySelector('.img-container');
			var image = container.getElementsByTagName('img').item(0);
			var dataX = 0;
			var dataY = 0;
			var dataHeight = 600;
			var dataWidth = 300;
			var dataScaleX = document.getElementById('dataScaleX');
			var dataScaleY = document.getElementById('dataScaleY');

			var options = {
				aspectRatio : 16 / 9,
				ready : function(e) {
					console.log(e.type);
				},
				cropstart : function(e) {
					console.log(e.type, e.detail.action);
				},
				cropmove : function(e) {
					console.log(e.type, e.detail.action);
				},
				cropend : function(e) {
					console.log(e.type, e.detail.action);
				},
				crop : function(e) {
					var dataE = e.detail;
					console.log(e.type);
					dataX.value = Math.round(dataE.x);
					dataY.value = Math.round(dataE.y);
					dataHeight.value = Math.round(dataE.height);
					dataWidth.value = Math.round(dataE.width);
				},
				zoom : function(e) {
					console.log(e.type, e.detail.ratio);
				}
			};
			var cropper = new Cropper(image, options);
			var originalImageURL = image.src;
			var uploadedImageType = 'image/jpeg';
			var uploadedImageURL;

			var file;
	        fr.readAsDataURL(files[0]);
			if (cropper && files.length) {
				if (/^image\/\w+/.test(file.type)) {
		            $('#artwork-image-elem').attr("src", file.result)
					uploadedImageType = file.type
					uploadedImageName = file.name
					cropper.destroy()
					cropper = new Cropper(image, options)
				} else {
					window.alert('Please choose an image file.');
				}
			}
		};
		reader.readAsDataURL(file);
		console.log(file.size)
	}
</script>
<div class="form-title">
	<h2>Entry Form</h2>
	<h6>
		<strong>Step 1)</strong> Fill the registration form please. <br /> <strong>Step
			2)</strong> upload a photo of your artwork. <br /> <strong>Step 3)</strong>
		Answer 3 questions. <br /> <strong>Step 4)</strong> Check the receipt
		posted to your email address.
	</h6>
</div>
<div class="row">
	<div class="col-md-10 offset-md-1">
		<form method="post" id="entry-form-id" action="/"
			class="needs-validation form-general-style"
			enctype="multipart/form-data" novalidate>
			{% csrf_token %} <input type="hidden" name="id" id="id"
				value="{{ form.instance.firstname|default_if_none:'' }}">
			<div class="form-section" data-title="Step 1) Personal Information">
				<div class="row">
					<div class="col-md-6">
						<lable for="firstname">First Name</lable>
						<input type="text" class="form-control" id="firstname"
							name="firstname" placeholder=""
							value="{{ form.instance.firstname|default_if_none:'' }}" required>
					</div>
					<div class="col-md-6">
						<lable for="surname">Surname</lable>
						<input type="text" class="form-control" id="surname"
							name="surname" placeholder=""
							value="{{ form.instance.surname|default_if_none:'' }}" required>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<lable for="dob">Date of Birth</lable>
						<input type="date" class="form-control" id="dob" placeholder=""
							name="dob" value="{{ form.instance.dob|default_if_none:'' }}"
							required>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<lable for="email">Email</lable>
						<input type="email" class="form-control" id="email" name="email"
							placeholder="you@example.com"
							value="{{ form.instance.email|default_if_none:'' }}" required>
					</div>
					<div class="col-md-6">
						<lable for="cellphone">Cellphone</lable>
						<input type="text" class="form-control" id="cellphone"
							name="cellphone" placeholder=""
							value="{{ form.instance.cellphone|default_if_none:'' }}" required>
					</div>
				</div>
			</div>
			<div class="form-section"
				data-title="Step 1) Guardian (Parent) Information">
				<div class="row">
					<div class="col-md-6">
						<lable for="parentname">Guardian (Parent) Full-Name</lable>
						<input type="text" class="form-control" id="parentname"
							name="parentname" placeholder=""
							value="{{ form.instance.parentname|default_if_none:'' }}"
							required>
					</div>
					<div class="col-md-6">
						<lable for="parentphone">Guardian (Parent)'s Phone Number</lable>
						<input type="tel" class="form-control" id="parentphone"
							name="parentphone" placeholder=""
							value="{{ form.instance.parentphone|default_if_none:'' }}"
							required>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<lable for="parentemail">Guardian (Parent)'s Email Address</lable>
						<input type="text" class="form-control" id="parentemail"
							name="parentemail" placeholder=""
							value="{{ form.instance.parentemail|default_if_none:'' }}"
							required>
					</div>
				</div>
			</div>
			<div class="form-section" data-title="Step 1) My School">
				<div class="row">
					<div class="col-md-6">
						<lable for="states-dropdown">State (Province)</lable>
						<select class="custem-select d-block w-100" id="states-dropdown"
							onchange="alert('state dropdown')">
							<option value="0">Eastern Cape</option>
							<option value="1">Free State</option>
							<option value="2">Gauteng</option>
							<option value="3">KwaZulu-Natal</option>
							<option value="4">Limpopo</option>
							<option value="5">Mpumalanga</option>
							<option value="6">North West</option>
							<option value="7">Northern Cape</option>
							<option value="8">Western Cape</option>
						</select>
					</div>
					<div class="col-md-6">
						<lable for="school-dropdown">School</lable>
						<input type="hidden" name="school" id="school"
							value="{{ form.instance.school|default_if_none:'' }}" required>
						<select class="custem-select d-block w-100" id="school-dropdown"
							onchange="$('#school').val($('#school-dropdown').val())">
							<option value="">Choose...</option> {% for sch in schools %}
							<option value="{{ sch.name }}">{{ sch.name }} {% endfor %}
						</select>
					</div>
				</div>
			</div>
			<div class="form-section" data-title="Step 1) My Grade">
				<div class="row">
					<div class="col-md-2">
						<lable for="learnergrade7">Grade 7</lable>
						<input type="hidden" class="form-control" id="currentlearnergrade"
							placeholder=""
							value="{{ form.instance.learnergrade|default_if_none:'' }}"
							required> <input type="radio" class="form-control"
							id="learnergrade" name="learnergrade" placeholder=""
							value="Grade 7">
					</div>
					<div class="col-md-2">
						<lable for="learnergrade8">Grade 8</lable>
						<input type="radio" class="form-control" id="learnergrade8"
							name="learnergrade" placeholder="" value="Grade 8">
					</div>
					<div class="col-md-2">
						<lable for="learnergrade9">Grade 9</lable>
						<input type="radio" class="form-control" id="learnergrade9"
							name="learnergrade" placeholder="" value="Grade 9">
					</div>
					<div class="col-md-2">
						<lable for="learnergrade10">Grade 10</lable>
						<input type="radio" class="form-control" id="learnergrade10"
							name="learnergrade" placeholder="" value="Grade 10">
					</div>
					<div class="col-md-2">
						<lable for="learnergrade11">Grade 11</lable>
						<input type="radio" class="form-control" id="learnergrade11"
							name="learnergrade" placeholder="" value="Grade 11">
					</div>
					<div class="col-md-2">
						<lable for="learnergrade12">Grade 12</lable>
						<input type="radio" class="form-control" id="learnergrade12"
							name="learnergrade" placeholder="" value="Grade 12">
					</div>
				</div>
			</div>
			<div class="form-section" data-title="Step 1) My Teacher">
				<div class="row">
					<div class="col-md-4">
						<lable for="teachername">Teacher Name</lable>
						<input type="text" class="form-control" id="teachername"
							name="teachername" placeholder=""
							value="{{ form.instance.teachername|default_if_none:'' }}"
							required>
					</div>
					<div class="col-md-4">
						<lable for="teacheremail">Teacher Email</lable>
						<input type="email" class="form-control" id="teacheremail"
							name="teachermail" placeholder="you@example.com"
							value="{{ form.instance.teacheremail|default_if_none:'' }}"
							required>
					</div>
					<div class="col-md-4">
						<lable for="teacherphone">Teacher Phone</lable>
						<input type="tel" class="form-control" id="teacherphone"
							name="teacherphone" placeholder=""
							value="{{ form.instance.teacherphone|default_if_none:'' }}"
							required>
					</div>
				</div>
			</div>
			<div class="form-section" data-title="Step 2) Upload my artwork">
				<div class="row">
					<div class="col-md-4">
						<lable for="workfile">Upload Work File</lable>
						<input type="file" class="form-control" id="workfile"
							name="workfile" placeholder=""
							value="{{ form.instance.workfile|default_if_none:'' }}"
							onchange="handleFileSelect()" required>
						<!-- 						<img src="{{ form.instance.workfile|default_if_none:'#' }}" -->
						<!-- 							width="48px" height="48px"> -->
					</div>
					<div class="col-md-8">
						<lable for="surname">Work Title</lable>
						<input type="text" class="form-control" id="worktitle"
							name="worktitle" placeholder=""
							value="{{ form.instance.worktitle|default_if_none:'' }}" required>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 crop-canvas-class">
						<div class="btn-group">
							<button type="button" class="btn btn-primary" data-method="zoom"
								data-option="0.1" title="Zoom In">
								<span class="docs-tooltip" data-toggle="tooltip"
									title="cropper.zoom(0.1)"> <span
									class="fa fa-search-plus"></span>
								</span>
							</button>
							<button type="button" class="btn btn-primary" data-method="zoom"
								data-option="-0.1" title="Zoom Out">
								<span class="docs-tooltip" data-toggle="tooltip"
									title="cropper.zoom(-0.1)"> <span
									class="fa fa-search-minus"></span>
								</span>
							</button>
						</div>
						<div class="img-container">
							<img src="" alt="Picture" id="artwork-image-elem">
						</div>
					</div>
				</div>
			</div>
			<div class="form-section" data-title="Step 3) Answering questions">
				<div class="row">
					<div class="col-md-6">
						<lable for="question1">Question 1: What Mathematics did
						you use in your artwork? Explain your answer.</lable>
						<textarea class="form-control" id="question1" name="question1"
							rows="5">{{ form.instance.question1|default_if_none:'' }}</textarea>
					</div>
					<div class="col-md-6">
						<lable for="formulafile">Formula File</lable>
						<input type="file" class="form-control" id="formulafile"
							name="formulafile" placeholder="" required>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<lable for="question2">Question 2: How did you use
						creativity to connect Mathematics with "My Universe" to make your
						artwork?</lable>
						<textarea class="form-control" id="question2" name="question2"
							rows="5">{{ form.instance.question2|default_if_none:'' }}</textarea>
					</div>
					<div class="col-md-6">
						<lable for="question3">Question 3: Do you think creativity
						could be used to teach Mathematics? Explain your answer</lable>
						<textarea class="form-control" id="question3" name="question3"
							rows="5">{{ form.instance.question3|default_if_none:'' }}</textarea>
					</div>
				</div>
			</div>
			<div class="col-md-12 text-center">
				<button class="action-button" type="submit" id="buttonSubmit">Submit</button>
			</div>
		</form>
	</div>
</div>
