<div class="row">
	<div class="col-md-10 offset-md-1">
		<form action="{% url 'artwork:entry_form' %}" method="post"
			class="needs-validation" novalidate>
			{% csrf_token %}
			<h4 class="mb-3">Personal Information</h4>
			<div class="row">
				<div class="col-md-6 mb-3">
					<lable for="firstname">First Name</lable>
					<input type="text" class="form-control" id="firstname" name="firstname"
						placeholder="" value="" required>
				</div>
				<div class="col-md-6 mb-3">
					<lable for="surname">Surname</lable>
					<input type="text" class="form-control" id="surname" name="surname" placeholder=""
						value="" required>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 mb-3">
					<lable for="email">Email</lable>
					<input type="email" class="form-control" id="email" name="email"
						placeholder="you@example.com" value="" required>
				</div>
				<div class="col-md-6 mb-3">
					<lable for="cellphone">Cellphone</lable>
					<input type="text" class="form-control" id="cellphone" name="cellphone"
						placeholder="" value="" required>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 mb-3">
					<lable for="parentname">Parent Name</lable>
					<input type="text" class="form-control" id="parentname" name="parentname"
						placeholder="" value="" required>
				</div>
				<div class="col-md-6 mb-3">
					<lable for="parentphone">Parent Phone</lable>
					<input type="tel" class="form-control" id="parentphone" name="parentphone"
						placeholder="" value="" required>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 mb-3">
					<lable for="school">School</lable>
					<select class="custem-select d-block w-100" id="school" name="school" required>
						<option value="">Choose...</option> {% for school in schools %}
						<option value="{{ school.name }}">{{ school.name }}{% endfor %}
					</select>
				</div>
				<div class="col-md-4 mb-3">
					<lable for="teachername">Teacher Name</lable>
					<input type="text" class="form-control" id="teachername" name="teachername"
						placeholder="" value="" required>
				</div>
				<div class="col-md-4 mb-3">
					<lable for="teacheremail">Teacher Email</lable>
					<input type="email" class="form-control" id="teacheremail" name="teachermail"
						placeholder="you@example.com" value="" required>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 mb-3">
					<lable for="dob">Date of Birth</lable>
					<input type="date" class="form-control" id="dob" placeholder="" name="dob"
						value="" required>
				</div>
				<div class="col-md-4 mb-3">
					<lable for="learnergrade">Learner Grade</lable>
					<input type="number" class="form-control" id="learnergrade" name="learnergrade"
						placeholder="" value="" required>
				</div>
				<div class="col-md-4 mb-3">
					<lable for="teacherphone">Teacher Phone</lable>
					<input type="tel" class="form-control" id="teacherphone" name="teacherphone"
						placeholder="" value="" required>
				</div>
			</div>
			<br>
			<h4 class="mb-3">Artwork Information</h4>
			<div class="row">
				<div class="col-md-4 mb-3">
					<lable for="workfile">Upload Work File</lable>
					<input type="file" class="form-control" id="workfile" name="workfile"
						placeholder="" value="" required>
				</div>
				<div class="col-md-8 mb-3">
					<lable for="surname">Work Title</lable>
					<input type="text" class="form-control" id="worktilte" name="worktitle"
						placeholder="" value="" required>
				</div>
			</div>
			<br>
			<h4 class="mb-3">Please answer the following questions:</h4>
			<div class="row">
				<div class="col-md-12 mb-3">
					<lable for="question1">Question 1</lable>
					<textarea class="form-control" id="question1" name="question1" rows="5"></textarea>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 mb-3">
					<lable for="question2">Question 2</lable>
					<textarea class="form-control" id="question2" name="question2" rows="5"></textarea>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 mb-3">
					<lable for="question3">Question 3</lable>
					<textarea class="form-control" id="question3" name="question3" rows="5"></textarea>
				</div>
			</div>
			<div class="col text-center">
				<button class="btn btn-primary btn-lg" type="submit">
					Submit</button>
			</div>
		</form>
	</div>
</div>
