Frequently asked Questions? 
What is MathArt?  
What is the theme? "My Universe"
What do you mean "My Universe" 
Who can enter?
How much does it cost?
When is the closing date?
When I click on the entry form it gives me the message "not available". Why does this happen?
What do I need to enter?
Is it a Maths competition or an Art competition?
Where can I find out more about MathArt?
Must I make a physical artwork or this a digital competition?
Can we enter as a group?
Can I enter from my phone?
I don't have an email address? Can I still enter? 
Can I enter more than one artwork? 
What can I win? 
I take Mathematical Literacy at school, can I still enter?
I am in grade 6 or below? 
I am homeschooled how do I enter? 
I live in a SADC country?
Photography is art, can I submit a photograph as my artwork? 
My data ran out and I have lost my entry, what must I do? 
My battery died and I didn't finish submitting my entry, what must I do? 
Who must send their art to Port Elizabeth?
How do you send art to Port Elizabeth? 
What if I can't afford to send my art to Port Elizabeth?
Tips and checklist
1) Don't wait until the last minute
2) Make sure you have all the information you need before you begin filling out your entry form. 
3) Make sure that you have data before starting the entry.
4) Take the photo of your artwork during the day or when there is good light available.
5) Hold your phone/camera very steady when taking the photo. If necessary support your arm to stop you hand shaking.