<style>
.replaced-svg.svgNonMenu {
	width: 222px;
}
</style>
<div class="row" id="banner-top">
	<div class="col-md-12 banners-text-content">
		<img alt="" src="static/img/graphics/Inspiringbar5.png">
	</div>
</div>
<div class="row page-content-holder">
	<div class="col-md-2 splatter-7"></div>
	<div class="col-md-8">
		<div class="col-md-12 page-title">
			<h2>Competition History</h2>
		</div>
		<div class="col-md-12" style="text-align: center; font-size: 33px;">
			<a href="static/files/mathart-competition-rules.pdf"
				class="btn btn-link" download><img
				alt="" src="static/img/graphics/Big Buttons/Printbutton.svg"
				class="svgNonMenu"> </a>
		</div>
		<br>
		<div class="row">
			<div class="col-md-12">
				<p>The Math-Art competition is an innovative, practical project
					that resulted from the need to promote creativity in problem
					solving by encouraging learners to explore the real-life links
					between mathematics and the arts (which is one of the main aims of
					the STEAM concept in education). The Govan Mbeki Mathematics
					Development Centre (GMMDC) based at the Nelson Mandela University
					adopted the STEAM concept in 2017 as one of the important
					educational drivers of the future.</p>
			</div>
			<div class="col-md-12">
				<p>The GMMDC launched the MathArt competition project in high
					schools of the Eastern Cape Province in March 2018. The MathArt
					competition was piloted with the support of the Nelson Mandela
					University's School of Music, Art and Design (SoMAD) and the
					Department of Basic Education in the Eastern Cape Province.
					Entrants were required to come up with their own concept of
					MathArt, within a suggested project theme. Each entry had to
					include a 300-word description of how their artwork linked
					mathematics and art. There were two age categories in 2018: Grades
					8 & 9 and Grades 10 to 12. Judging was mostly based on the
					creativity in linking mathematics and art.</p>
			</div>
			<div class="col-md-12">
				<p>The regional pilot competition in 2018 was overwhelmingly
					successful. It attracted 113 entries, mostly from learners in 36
					previously-disadvantaged schools in the Eastern Cape. Most of the
					entries were exhibited at the Nelson Mandela Metropolitan Art
					Museum in Port Elizabeth in May that year.</p>
			</div>
			<div class="col-md-12">
				<p>The pilot South African MathArt project has attracted the
					attention of the international math-art community. The Experience
					Workshop Global STEAM Network (www.experienceworkshop.org), which
					have been organizing International Children and Youth Math-Art
					Exhibits since 2012, have initiated the international collaboration
					and supported the competition from the beginning. Since 2018, the
					artworks of the South African children were exhibited at the "John
					Hiigli Children and Youth Math-Art" exhibits, organized by the
					Experience Workshop at the Bridges conferences, the world's largest
					math-art community's annual meetings at various locations around
					the globe. Thirty selected MathArt entries from South Africa were
					part of this exhibit at the annual International Bridges
					Conference, which took place at the National Museum of Science and
					Technology in Stockholm, Sweden, in July 2018.</p>
			</div>
			<div class="col-md-12">
				<p>The MathArt project was expanded, with the support of Umalusi
					and the Department of Basic Education, to a national school
					competition in 2019. A total of 593 competition entries were
					received from 75 schools in the 8 provinces in South Africa in this
					year. All the entries were again exhibited at the Nelson Mandela
					Metropolitan Art Museum in Port Elizabeth in June 2019. Once again,
					a selection of the best South African entries were invited by
					Experience Workshop organizers to be exhibited at the 2019
					International Bridges Conference in July, this time in Linz,
					Austria.</p>
			</div>
			<div class="col-md-12">
				<p>Subsequently, more provincial and national education
					stakeholders in South Africa have expressed a keen interest to join
					this national project as it seeks to promote STEAM education with
					the emphasis on integrating innovation and creativity as vital
					skills to meet the challenges of the 4IR.</p>
			</div>
			<div class="col-md-12">
				<p>The collaboration between the GMMDC and the Experience
					Workshop Global STEAM Network have been fruitful and will continue
					to grow as the national MathArt school competition programme
					expands every year.</p>
			</div>
			<div class="col-md-12" style="text-align: center;">
			<img alt="#" src="static/img/graphics/Graphic elements/ExperienceWorkshopORGeng.png">
			</div>
		</div>
	</div>
	<div class="col-md-2 splatter-8"></div>
</div>