<!-- 34 * 21 -->
<div class="landing-page-content div-21">
	<h1
		style="margin-top: 122px; padding-left: 66px; font-style: italic; font-weight: bold;">
		<p>2020's Theme</p>
	</h1>
</div>
<div class="landing-page-content div-13"></div>
<div class="landing-page-content div-8">

	<!-- 	<h5>Deadline</h5> -->
	<!-- 	<h5>Registration Opens in</h5> -->
</div>
<div class="landing-page-content div-5">
	<ul>
		<li><strong>Works:</strong>{{ num_works }}</li>
		<li><strong>Schools:</strong>{{ num_schools }}</li>
	</ul>
</div>
<script>
	
</script>
