<div class="row main-content-brain">
	<div class="col-md-4"></div>
	<div class="col-md-4 brain-holder-div">
		<img alt="#" src="static/img/MAlogo.png" width="400px" height="351px">
	</div>
</div>

<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">2020 Theme is</div>
	<div class="col-md-4"></div>
</div>
<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">My universe</div>
	<div class="col-md-4"></div>
</div>
<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">Youtube</div>
	<div class="col-md-4"></div>
</div>
<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<div class="row">
			<div class="col-md-6">icon</div>
			<div class="col-md-6">icon</div>
		</div>
		<div class="row">
			<div class="col-md-6">text</div>
			<div class="col-md-6">text</div>
		</div>
		<div class="row">
			<div class="col-md-6">icon</div>
			<div class="col-md-6">icon</div>
		</div>
		<div class="row">
			<div class="col-md-6">text</div>
			<div class="col-md-6">text</div>
		</div>
		<div class="row">
			<div class="col-md-6">icon</div>
			<div class="col-md-6">icon</div>
		</div>
		<div class="row">
			<div class="col-md-6">text</div>
			<div class="col-md-6">text</div>
		</div>
	</div>
	<div class="col-md-4"></div>
</div>