<h3>HOW TO ENTER</h3>
<br>
<h6><strong>Step 1</strong>
Consider the theme "My Universe"  and what it means to you. </h6>
<h6><strong>Step 2</strong>
Look around you and find Maths in "My Universe". </h6>
<h6><strong>Step 3</strong>
Create an artwork  showing the Maths you have found. </h6>
<h6><strong>Step 4</strong>
Take a photo  of your artwork and keep the original artwork safe for later.</h6> 
<br><h6><strong>Step 5</strong>
Think about the following questions: <br><br>
1)  What Mathematics did you use in your artwork? Explain your answer . <br>
2) How did you use creativity to connect Mathematics with "My Universe" to make your artwork?<br>
3) Do you think creativity could be used to teach Mathematics? Explain your answer.</h6><br>
<h6><strong>Step 6</strong>
Read and make sure you understand and agree to comply with the Competition Rules </h6>
<h6><strong>Step 7</strong>
Double check you have all the information you need to enter with you. </h6>  
<h6><strong>Step 8 </strong>
Complete and submit your entry form and photo of your artwork online HERE! </h6>
