HOW TO ENTER

Step 1
Consider the theme "My Universe"  and what it means to you. 
Step 2
Look around you and find Maths in "My Universe". 
Step 3
Create an artwork  showing the Maths you have found. 
Step 4
Take a photo  of your artwork and keep the original artwork safe for later . 
Step 5
Think about the following questions: 
1)  What Mathematics did you use in your artwork? Explain your answer . 
2) How did you use creativity to connect Mathematics with "My Universe" to make your artwork?
3) Do you think creativity could be used to teach Mathematics? Explain your answer.
Step 6
Read and make sure you understand and agree to comply with the Competition Rules 
Step 7
Double check you have all the information you need to enter with you.   
Step 8 
Complete and submit your entry form and photo of your artwork online HERE! 
