{% if user.is_authenticated %}
<!-- <li class="nav-item"> -->
<div class="row" style="position: absolute; top: 3px;">
	<div class="col-md-12">
		<i class="fa fa-user"></i>&nbsp;{{ user.last_name}},&nbsp;{{user.first_name }}
	</div>
</div>
<!-- </li> -->
<li class="nav-item dropdown"><a data-toggle="dropdown"
	class="nav-link dropdown-toggle"
	onclick="$('.change-password-div').load('/account/change_password/')"
	href="#"><i class="fa fa-key"></i>&nbsp;Change Password</a>
	<ul class="dropdown-menu change-password-div"></ul></li>
<li class="nav-item">
	<button type="button" class="btn btn-outline-dark btn-sm"
		onclick="window.location.replace('{% url 'account:logout' %}')">
		<i class="fa fa-sign-out"></i>&nbsp;Logout
	</button>
</li>
{% else %}
<li class="nav-item dropdown"><a data-toggle="dropdown"
	class="nav-link dropdown-toggle" href="#" role="button"
	aria-haspopup="true" aria-expanded="false"><i
		class="fa fa-sign-in-alt"></i>&nbsp;Login</a>
	<ul class="dropdown-menu ">
		<li class="nav-item">
			<form action="{% url 'account:login' %}" method="post"
				class="form-group login-form" id="login-form-id">
				{% csrf_token %}
				<div class="input-group  mb-3">
					<span class="input-group-addon"><i class="fa fa-user"></i></span> <input
						type="text" name="username" class="form-control input-group"
						placeholder="Email" id="inputEmail" required>
				</div>
				<div class="input-group  mb-3">
					<span class="input-group-addon"><i class="fa fa-key"></i></span> <input
						type="password" class="form-control" id="inputPassword"
						name="password" placeholder="Password" required>
				</div>
				<button type="button" id="login-btn-id"
					onclick="loginForm('{% url 'account:login' %}','login-form-id','login-btn-id')"
					class="input-group btn btn-primary btn-sm  mb-3">
					<i class="fa fa-lock-open"></i>&nbsp;Login
				</button>
<!-- 				<button type="submit" id="login-btn-id" -->
<!-- 					class="input-group btn btn-primary btn-sm  mb-3"> -->
<!-- 					<i class="fa fa-lock-open"></i>&nbsp;Login -->
<!-- 				</button> -->
			</form>
		</li>
		<li class="nav-item change-password-li"></li>
	</ul></li>
{% endif %}
