{% if user.is_authenticated %}
<li class="nav-item">
	<div class="row">
		<div class="col-md-12">
			<i class="fa fa-user"></i>&nbsp;{{ user.last_name}},&nbsp;{{ user.first_name }}
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<a href="#">Change Password</a>
		</div>
		<div class="col-md-4">
			<button type="button" class="btn btn-link btn-sm"
				onclick="window.location.replace('{% url 'account:logout' %}')">
				<i class="fa fa-sign-out"></i>&nbsp;Logout
			</button>
		</div>
	</div>
</li>
{% else %}
<li class="nav-item dropdown"><a data-toggle="dropdown"
	class="nav-link dropdown-toggle" href="#"><i
		class="fa fa-sign-in-alt"></i> Login</a>
	<ul class="dropdown-menu">
		<li>
			<form action="{% url 'account:login' %}" method="post"
				class="form-inline login-form">
				{% csrf_token %}
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-user"></i></span> <input
						type="text" name="username" class="form-control input-group"
						placeholder="Email" id="inputEmail" required>
				</div>
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-key"></i></span> <input
						type="password" class="form-control" id="inputPassword"
						name="password" placeholder="Password" required>
				</div>
				<button type="submit" class="input-group btn btn-primary">
					<i class="fa fa-lock-open"></i>&nbsp;Login
				</button>
			</form>
		</li>
	</ul></li>
{% endif %}


