<form method="post" action="{% url 'account:register' %}"
	class="needs-validation form-general-style" id="registry-form"
	enctype="multipart/form-data" novalidate>
	<div class="form-section" data-title="Registration">
		<div class="row">
			<div class="col-md-6">
				<label for="username">Username</label> <input type="text"
					class="form-control form-input" id="username" autocomplete="off"
					placeholder="Pick a unique username" name="username" value="test"
					required> <input type="hidden" name="is_valid" value="True">
			</div>
			<div class="col-md-6">
				<label for="email">Email</label> <input type="email"
					autocomplete="off" placeholder="i.e. name@mail.com"
					class="form-control form-input" id="email" name="email" value="test@email.com"
					required>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<label for="first_name">Firstname</label> <input type="text"
					placeholder="i.e. edward, rose" class="form-control form-input"
					id="first_name" autocomplete="off" name="first_name" value="test name"
					required>
			</div>
			<div class="col-md-4">
				<label for="last_name">Last Name</label> <input type="text"
					autocomplete="off" placeholder="i.e. scholtz, calitz"
					class="form-control form-input" id="last_name" name="last_name"
					value="test surname" required>
			</div>
			<div class="col-md-4">
				<label for="cellphone">Cellphone</label> <input type="tel"
					class="form-control form-input" id="cellphone" name="cellphone"
					placeholder="012 345 67 89"
					value="{{ form.instance.cellphone|default_if_none:'012 345 67 89' }}"
					required>
			</div>
		</div>
		<div class="row" id="dob-row">
			<div class="col-md-4">
				<label for="yearDropDown">Date of Birth</label> <input
					type="hidden" class="form-control form-input" id="dob"
					placeholder="" name="dob"
					value="{{ form.instance.dob|default_if_none:'' }}" required>
				<select id="yearDropDown" class="form-control form-input">
				</select>
			</div>
			<div class="col-md-4">
				<label for="monthDropDown">&nbsp;</label> <select
					id="monthDropDown" class="form-control form-input">
				</select>
			</div>
			<div class="col-md-4">
				<label for="dayDropDown">&nbsp;</label> <select id="dayDropDown"
					class="form-control form-input">
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<label for="parentname">Parent (Guardian)'s Full-Name</label> <input
					type="text" class="form-control form-input" id="parentname"
					name="parentname" placeholder="i.e. Jack Scholtz"
					value="{{ form.instance.parentname|default_if_none:'Jack Scholtz' }}"
					required>
			</div>
			<div class="col-md-6">
				<label for="parentphone">Parent (Guardian)'s Phone Number</label>
				<input type="tel" class="form-control form-input" id="parentphone"
					name="parentphone" placeholder="012 345 67 89"
					value="{{ form.instance.parentphone|default_if_none:'012 345 67 89' }}"
					required>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<label for="parentemail">Parent (Guardian)'s Email Address</label>
				<input type="email" class="form-control form-input"
					id="parentemail" name="parentemail" placeholder="you@example.com"
					value="{{ form.instance.parentemail|default_if_none:'you@example.com' }}"
					required>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<label for="password1">Password</label>
				<small class="text-warning">&nbsp;At least 8 characters, including
					text and numbers</small> <input type="password"
					class="form-control form-input" autocomplete="off" id="password1"
					name="password1" value="abcdefg12345" required>
			</div>
			<div class="col-md-6">
				<label for="password2">Repeat Password</label><br /> <input
					type="password" class="form-control form-input" autocomplete="off"
					id="password2" name="password2" value="abcdefg12345" required>
			</div>
		</div>
		{% csrf_token %}
		<button class="action-button green" type="submit" id="register-btn">Register</button>
	</div>
</form>
