<form method="post" action="{% url 'account:register' %}"
	class="needs-validation form-general-style" id="registry-form"
	enctype="multipart/form-data" novalidate>
	<div class="form-section" data-title="Registration">
		<div class="row">
			<div class="col-md-6">
				<lable for="username">Username</lable>
				<input type="text" class="form-control form-input" id="username"
					name="username" value="{{ form.instance.username }}" required>
			</div>
			<div class="col-md-6">
				<lable for="email">Email</lable>
				<input type="email" class="form-control form-input" id="email"
					name="email" value="{{ form.instance.email }}" required>
			</div>
			<div class="col-md-6">
				<lable for="password1">Password</lable>
				<input type="password" class="form-control form-input"
					id="password1" name="password1"
					value="{{ form.instance.password1 }}" required>
			</div>
			<div class="col-md-6">
				<lable for="password2">Repeat Password</lable>
				<input type="password" class="form-control form-input"
					id="password2" name="password2"
					value="{{ form.instance.password2 }}" required>
			</div>
		</div>
		{% csrf_token %}
		<button class="action-button green" type="submit" id="register-btn">Register</button>
	</div>
</form>
