<div class="page-title">
Competition Rules
</div>
Closing date for entries:  30 April 2020. Entries must be entered electronically before 17h00 on 30 April 2020. No late entries will be accepted.
No name of entrant or school may appear on the front of the artwork.
Only electronic entries will be accepted. 
Each person may enter only one piece of art. 
The artwork must be mostly two-dimensional and must be no smaller than an A4 (21 x 29 cm) and no bigger than A2 (42 x 59 cm). If relief work is used it may be no thicker than 2 cm. 
All entries must be the artist’s original handwork . Copies from the internet (Google, Pinterest etc) or other sources, will not be accepted.
The artwork itself may not be a photograph or computer-generated graphic. 
Artworks may not contain copyrighted material; or contain threatening, offensive, or abusive material.
Artwork that does not meet the criteria will be disqualified.
The photograph of the artwork must be clear and in focus. No editing of the photograph will be accepted. Any artworks that are found to have been changed after the photograph was taken submitted will be disqualified. (link to photograph requirements)
The answers to the questions must be one paragraph each (50 – 100 words)
The top-selected entries will be requested to send the physical artworks to the GMMDC office in Port Elizabeth before …May 2020.
The judge's decision is final, and no correspondence will be entered into.
The GMMDC holds unrestricted rights to use any of the artwork or images thereof for purposes that will support STEAM education in South Africa.

PHOTO REQUIREMENTS
Take a good quality photo of your artwork (only have your artwork in the photo) using a cellphone with a 5 megapixel camera or greater. 
The artwork must be clear and in focus. 
Artwork photo must be uploaded to the Website in high-resolution (300dpi) digital format using either of the file types: jpg or png;
Artwork photo must have a maximum size of no more than 5 Mb;
No editing of the photograph will be accepted. 
Any artworks that are found to have been altered after the photograph was taken and entered into the competition will be disqualified.

And Remember!
ORIGINAL ARTWORK
Copying an image can be illegal and you should be aware of these implications 
    if you’re making art based on someone else’s work.
Technically it is NOT illegal to use something that you see online drawn by someone else. However, it is a breach of copywrite to pass this drawing as your own.
Examples of copying are:
      Redrawing a picture and just changing the colour
      Using the same drawing with small changes or additions here and there
This is an example of a copy
This is example of using another person’s work as a base for your artwork. 
