<!-- Multi step form -->
<script>
	$(document).ready(function() {
		$.ajax({
			url : "{% url 'artwork:entry_form' %}",
			success : function(response) {
				$(".multi_step_form").html(response);
				$('#entry-form-id').submit(function(event) {
					event.preventDefault();
					submitEntryForm()
				});
			},
			error : function(request, status, error) {
				console.log(request.responseText);
			}
		});
	})

	function submitEntryForm() {
		var form = $('#entry-form-id')[0];
		$("#buttonSubmit").prop("disabled", true);
		var data = new FormData(form);
		$
				.ajax({
					type : "POST",
					enctype : 'multipart/form-data',
					data : data,
					processData : false,
					contentType : false,
					cache : false,
					timeout : 60000,
					url : "{% url 'artwork:entry_form' %}",
					beforeSend : function(xhr, settings) {
						function getCookie(name) {
							var cookieValue = null;
							if (document.cookie && document.cookie != '') {
								var cookies = document.cookie.split(';');
								for (var i = 0; i < cookies.length; i++) {
									var cookie = $.trim(cookies[i]);
									if (cookie.substring(0, name.length + 1) == (name + '=')) {
										cookieValue = decodeURIComponent(cookie
												.substring(name.length + 1));
										break;
									}
								}
							}
							return cookieValue;
						}
						if (!(/^http:.*/.test(settings.url) || /^https:.*/
								.test(settings.url))) {
							xhr.setRequestHeader("X-CSRFToken",
									getCookie('csrftoken'));
						}
					},
					success : function(response) {
						console.log("SUCCESS >>>> "+response)
						$(".multi_step_form").html(response)
						$('#entry-form-id').submit(function(event) {
							event.preventDefault();
							submitEntryForm()
						});
					},
					error : function(xhr,errmsg,err) {
				        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
				        console.log(xhr); // provide a bit more info about the error to the console
				    },
					complete : function(response) {
						$("#buttonSubmit").prop("disabled", false)
						return -1
					}
				})
	}
</script>
<section class="multi_step_form"></section>