<div>
	<h2>Artwork "{{ work.worktitle }}"</h2>
	<h4>By {{ work.surname }}, {{ work.firstname }}</h4>
	<h6>{{ work.learnergrade }}, School {{ work.school }}. Teacher: {{ work.teachername }}</h6>
	<h6>Born in {{ work.dob }}</h6>
	<h6>Email: {{ work.email }}<h6>
	<h6>Parent: {{ work.parentname }}, Cell:  {{ work.parentphone }}<h6>
</div>
<div class="row">
	<div class="col-md-12">
		<img type="file" class="img-fluid" id="workfile"
			src="{{ work.workfileCropped }}">
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<lable for="teachername">Teacher</lable>
		 {{ work.teacheremail }}
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<lable for="question1">Question1</lable>
		{{ work.question1 }}
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<lable for="question1">Question1</lable>
		{{ work.question2 }}
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<lable for="question1">Question1</lable>
		{{ work.question3 }}
	</div>
</div>